body {
    overflow-y: auto;
}
/*create_group.html nickname*/
.create_group-nickname-top, .create_group-travelName-top, .create_group-travelDate-top {
    display: flex;
}
.create_group-nickname-top-out, .create_group-travelName-top-out {
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 63px;
    left: 29px;
}
.create_group-travelDate-top-out {
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 62px;
    left: 23px;
}
.create_group-travelDate-top-out-button {
    border: 0;
    background-color: transparent;
}
.create_group-nickname-top-content, .create_group-travelName-top-content, .create_group-travelDate-top-content{width: 71px;
    height: 17px;
    display: flex;
    flex-shrink: 0;
    color: var(--pink02);
    font: var(--text-style-pretendard-semibold-16);
    position: absolute;
    top: 63px;
    left: 155px;
    white-space: nowrap;
}



.create_group-nickname-comment, .create_group-travelName-comment, .create_group-travelDate-comment {
    font: var(--text-style-pretendard-semibold-18);
    color: var(--black);
    position: absolute;
    top: 141px;
    left: 34px;
}
.create_group-nickname-input, .create_group-travelName-input {
    width: 325px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1.5px solid var(--gray03);
    position: absolute;
    top: 175px;
    left: 34px;
}

.create_group-nickname-input:focus-visible, .create_group-travelName-input:focus-visible {
    border: 1.5px solid var(--pink02);
    outline: none;

}

.create_group-nickname-input::placeholder,
.create_group-travelName-input::placeholder
{   
    position: static;
    left: 44px;
    top: 191px;
    font: var(--text-style-pretendard-regular-14);
    color: var(--gray03);
    ;
}

.create_group-nickname-length {
    position: absolute;
    left: 328px;
    top: 190px;
    font: var(--text-style-pretendard-regular-14);
    color: var(--gray03);
    
}
.create_group-travelName-length {
    position: absolute;
    left: 324px;
    top: 190px;
    font: var(--text-style-pretendard-regular-14);
    color: var(--gray03);
}

.create_group-nickname-input-p, .create_group-travelName-p, .create_group-travelDate-p {
    width: 110px;
    height: 14px;
    flex-shrink: 0;
    color: var(--gray03, #939292);
    font: var(--text-style-pretendard-regular-14);
    line-height: normal;
    position: absolute;
    top: 191px;
    left: 44px;
}
.create_group-nickname-input-p2, .create_group-travelName-p2, .create_group-travelDate-p2 {
    width: 21px;
    height: 13px;
    flex-shrink: 0;
    color: var(--gray03);
    font: var(--text-style-pretendard-regular-14);
    line-height: normal;
    position: absolute;
    top: 191px;
    left: 328px;
}
.create_group-nickname-button, .create_group-travelName-button, .create_group-travelDate-button {
    width: 325px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0px;
    border-color: var(--gray02);
    background: var(--gray02);
    position: absolute;
    top: 705px;
    left: 34px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    text-decoration: none; 
}

#submitButton span,
#travelNameButton span,
#travelDateButton span
{
    position: static;  
    font: var(--text-style-pretendard-semibold-16);
    color: var(--gray03);
}

.create_group-nickname-button.active, .create_group-travelName-button.active, .create_group-travelDate-button.active {
    background: var(--pink02);
    cursor: pointer;
    border-color: var(--pink02);
}

.create_group-nickname-button.active span,
.create_group-travelName-button.active span,
.create_group-travelDate-button.active span,
#submitButton.active span,
#travelNameButton.active span,
#travelDateButton.active span {
    color: var(--black);
}

.create_group-travelName-top-circle1, .create_group-travelDate-top-circle1 {
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: var(--pink02);
    position: absolute;
    top: 95px;
    left: 186px;
}
.create_group-travelName-top-circle2 {
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    fill: var(--gray02);
    position: absolute;
    top: 95px;
    left: 202px;
}
.create_group-travelDate-top-circle1 {
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    fill: var(--gray02);
    position: absolute;
    top: 95px;
    left: 186px;
    stroke: none;
}
.create_group-travelDate-top-circle2 {
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: var(--pink02);
    position: absolute;
    top: 95px;
    left: 202px;
}

.create_group-travelDate-input-start {
    width: 152px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1.5px solid var(--gray03);
    position: absolute;
    top: 175px;
    left: 34px;
}
.create_group-travelDate-input-end {
    width: 152px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1.5px solid var(--gray03);
    position: absolute;
    top: 175px;
    right: 34px;
}

.create_group-travelDate-input-start:focus-visible, .create_group-travelDate-input-end:focus-visible {
    border: 1.5px solid var(--pink02);
    outline: none;
}

.create_group-travelDate-input-center {
    width: 8px;
    height: 1.5px;
    background: var(--gray03);
    position: absolute;
    top: 199px;
    left: 193px;
}

#travelStartDate, #travelEndDate {
    display: flex;
    align-items: center; 
}

#travelStartDate::placeholder {
    position: static;
    left: 44px;
    top: 191px;
    font: var(--text-style-pretendard-regular-14);
    color: var(--gray03);
}

#travelEndDate::placeholder {
    position: static;
    left: 224px;
    top: 191px;
    font: var(--text-style-pretendard-regular-14);
    color: var(--gray03);
}

.testResult-top p {
    display: flex;
    flex-shrink: 0;
    color: var(--pink02);
    font: var(--text-style-pretendard-semibold-16);
    position: absolute;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);

}

.create_group-pink_cloud-a {
    position: absolute;
    top: 133px;
    left: 50%;
    transform: translateX(-50%);
}
.create_group-pink_cloud-b {
    position: absolute;
    top: 103.59px;
    left: 50%;
    transform: translateX(-50%);
}
.create_group-pink_cloud-c {
    position: absolute;
    top: 132px;
    left: 50%;
    transform: translateX(-50%);
}
.create_group-pink_cloud-d {
    position: absolute;
    top: 103px;
    left: 50%;
    transform: translateX(-50%);
}
.create_group-pink_cloud-e {
    position: absolute;
    top: 126px;
    left: 50%;
    transform: translateX(-50%);
}

.testResult-bottom {
    color: var(--white);
}
.testResult-text {
    width: 196px;
    height: 22px;
    align-self: stretch;
    color: var(--black);
    text-align: center;
    font: var(--text-style-pretendard-semibold-16);
    line-height: normal;
    position: absolute;
    top: 275px;
    left: 99px;
}
.testResult-result-type {
    color: var(--pink02);
    font: var(--text-style-pretendard-semibold-20);
    line-height: normal;
    left: 50%;  
    transform: translateX(-50%);  
    position: absolute;
    top: 300px;
    white-space: nowrap;
    overflow: visible;
    width: auto; 
    text-align: center;
}
.testResult-keywords1, .testResult-keywords2 {
    width: 69px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid var(--pink02);
    background: var(--pink01);
    position: absolute;
    top: 333px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testResult-keywords1 {
    left: 123px;
}

.testResult-keywords2 {
    left: 201px;
}

.testResult-keyword1, .testResult-keyword2 {
    color: var(--black);
    font: var(--text-style-pretendard-regular-14);
    line-height: normal;
    margin: 0;
    text-align: center;
}
.testResult-characteristics-box {
    width: 325px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1.5px solid var(--pink02);
    position: absolute;
    top: 385px;
    left: 34px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.testResult-characteristics {
    color: var(--gray04);
    font: var(--text-style-pretendard-regular-14);
}
.testResult-advantages, .testResult-disadvantages {
    display: flex;
    width: 325px;
    height: 95px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1.5px solid var(--pink02);
    position: absolute;
    left: 34px;
    padding: 15px;
    box-sizing: border-box;
    align-items: center;
}

.testResult-advantages {
    top: 445px;
}

.testResult-disadvantages {
    top: 561px;
}

.testResult-advantages-p, .testResult-disadvantages-p {
    width: 85px;
    flex-shrink: 0;
    color: var(--black);
    font: var(--text-style-pretendard-semibold-16);
    line-height: normal;
    margin: 0;
}

.testResult-advantages-ul, .testResult-disadvantages-ul {
    flex-grow: 1;
    color: var(--gray04);
    font: var(--text-style-pretendard-regular-14);
    margin: 0;
    padding-left: 25px;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100%; 
}

.testResult-advantages-ul li, .testResult-disadvantages-ul li {
    margin-bottom: 5px;
}

.testResult-advantages-ul li:last-child, .testResult-disadvantages-ul li:last-child {
    margin-bottom: 0;
}
.testResult-button {
    width: 325px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--pink02);
    position: absolute;
    color: var(--black);
    text-align: center;
    font: var(--text-style-pretendard-semibold-16);
    line-height: normal;
    left: 34px;
    top: 755px;
}
.testResult-restart {
    color: var(--gray03);
    font: var(--text-style-pretendard-regular-14);
    line-height: normal;
    position: absolute;
    left: 165px;
    top: 707px;
}

.testResult-restart::after {
    content: ""; 
    position: absolute;  
    width: 61.008px;
    height: 1px;
    background-color: var(--gray03); 
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
}

/*mypage css*/
.travelgroup-container {
    display: flex;
    overflow-x: auto; /* 가로 스크롤 활성화 */
    gap: 10px;
    position: relative;
    width: 325px;
    left: 34px;
}

.now-travelgroup-container {
    top: 325px; /* 진행 중인 여행 모임의 top */
}

.past-travelgroup-container {
    top: 412px; /* 종료된 여행 모임의 top */
}

.travelgroup-ul {
    display: flex;
    flex-wrap: nowrap; /* 가로로 나열 */
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.travelgroup-ul li {
    width: 82px;
    height: 103px;
    border-radius: 10px;
    background: var(--blue02);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    position: relative;
}

.mypage_airplane {
    position: absolute;
    top: 10px; 
    left: 50%;
    transform: translateX(-50%);
}

.travelgroup-ul li span {
    font: var(--text-style-pretendard-regular-15);
    color: var(--white);
}

.mp-ongoing-btn {
    text-decoration: none;
    color: inherit;
}

.mypage-plus {
    width: 30.128px;
    height: 30.128px;
}

.mp-ongoing-btn {
    color: var(--blue02);
    text-decoration: none;
}
.nicknameedit-complete-btn.active {
    background: var(--pink02);
}
.nicknameedit-complete-btn.active span {
    color: var(--black);
}

/*create_travel css*/
.create_travel-buttons {
    position: fixed;
    bottom: 20px;
    right: 5%;
    display: none; /* 기본적으로 숨김 */
    flex-direction: row;
    gap: 10px;
    z-index: 1000;
    transform: none;
}
body.custom-container-style {
    width: 393px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    background-color: white;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0 0 100vw black; /* 외부 영역을 검은색으로 만듭니다 */
}

body.custom-container-style::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* 바탕 색을 검은색으로 설정 */
    z-index: -1; /* 요소의 뒤쪽에 위치시켜서 흰색 영역 뒤에 검은색 배경을 만듭니다 */
}

body.custom-container-style .container {
    z-index: 1; /* 컨텐츠가 배경 위에 나타나도록 보장 */
}

    .create_travel-addPlans-container div,
    .create_travel-main-addPlans,
    .create_travel-main-card,
    .create_travel-main-button,
    .create_travel-all-menu a,
    button {
        cursor: pointer;
    }
    .create_travel-buttons .add-button,
    .create_travel-buttons .create_travel-main-button {
        margin-bottom: 10px;
        display: inline-block;
    }

    .btn-submit.active {
        background: var(--pink02);
    }
    .btn-submit.active span {
        color: var(--black);
    }

   /*timetable css*/
   #plan-list {
    max-height: 400px; 
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 15px; 
}

.tt-plan-management {
    margin-top: 650px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 5px;
}

.tt-category-buttons {
    position: absolute;
    top: 647px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}

.tt-category-buttons a {
    color: #616161; 
    text-decoration: none;
    position: relative;
}

.tt-all-play,
.tt-all-eat,
.tt-all-stay,
.tt-all-others {
    font: var(--text-style-pretendard-semibold-18);
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #616161; 
}

.tt-all-play::after,
.tt-all-eat::after,
.tt-all-stay::after,
.tt-all-others::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 100%; 
    height: 2.5px;
    z-index: 1;
}

.tt-category-buttons::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;  
    height: 1.5px;
    background-color: var(--gray01);
    z-index: 0;
}

.tt-play-title {color: var(--play);}
.tt-eat-title {color: var(--eat);}
.tt-stay-title {color: var(--stay);}
.tt-others-title {color: var(--others);}

.tt-all-menu a {
    color: #616161; 
    text-decoration: none;
    position: relative;
}

.tt-all-play.active::after { background-color: var(--play);}
.tt-all-eat.active::after { background-color: var(--eat);}
.tt-all-stay.active::after { background-color: var(--stay);}
.tt-all-others.active::after { background-color: var(--others);}

.tt-all-play.active {color: var(--play); }
.tt-all-eat.active { color: var(--eat); }
.tt-all-stay.active { color: var(--stay); }
.tt-all-others.active { color: var(--others); }

.tt-plan-item-content {
    position: relative;
}

.tt-category-icon {
    position: relative; /* relative로 변경하여 부모 요소 내에서만 이동 */
    top: 10px;
    transform: translateX(-50%);  
    left: 50%;  
    cursor: pointer;
}


.tt-plan-category {
    display: none;
}

.tt-plan-creator {
    position: absolute;
    left: 295px;
    top: -16px; /* icon과 상호작용하는 요소들 위치 수정(167px씩 빼기) */
    font: var(--text-style-pretendard-regular-12);
    color: var(--black);
}

.tt-plan-place {
    position: absolute;
    left: 63px;
    top: -74px;
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
}

.tt-plan-description {
    position: absolute;
    left: 63px;
    top: -37px; /* icon과 상호작용하는 요소들 위치 수정 */
    font: var(--text-style-pretendard-regular-12);
    color: var(--black);
}
.tt-bi-heart{
    position: absolute;
    left: 46px;
    top: -15px /*167px 빼기*/
}
.tt-like-count{
    position: absolute;
    left: 64px;
    top: -19px
}
.tt-airplane_icon {
    position: absolute;
    top: -74px;
    left: 239px;
} 