.create_travel-page {
    display: none;
  }
.create_travel-page.active {
    display: block;
  }
.create_travel-all-content {
    display: none;
  }

.main-mypage img {
    position: absolute;
    left: 341px;
    top: 62px;
}

.main-kakao {
    width: 325px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FEE500;
    position: absolute;
    left: 34px;
    top: 705px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.main-kakao span {
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
}

.main-kakao img {
    position: absolute;
    left: 17px;
    top: 15px;
}

.enter-oddy {
    width: 325px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0px;
    background: var(--pink02);
    position: absolute;
    top: 705px;
    left: 34px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    text-decoration: none; 
}

.enter-oddy span {
    position: static;  
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
}

#optionsPage p {
    position: absolute;
    left: 47px;
    top: 185px;
    font: var(--text-style-pretendard-semibold-20);
    color: var(--blue02);
}

.door-frame {
    width: 275.45px;
    height: 111.282px;
    flex-shrink: 0;
    border-radius: 13.834px;
    background: var(--gray02);
    position: absolute;
    transform: translateX(-50%);  
    left: 50%;  
    top: 250.27px;
    overflow: hidden;
}

.door-frame img {
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.door {
    width: 275.45px;
    height: 111.282px;
    flex-shrink: 0;
    border-radius: 13.834px;
    background: var(--blue01);
    position: absolute;
    left: 50%;
    top: 250.27px;
    transform: translateX(-50%);
    animation: doorAnimation 2s ease-in-out forwards; /* 애니메이션 시간을 1s로 설정했습니다. 필요에 따라 조정하세요. */
    transform-origin: right center;
}

@keyframes doorAnimation {
    0% {
        transform: translateX(-50%) scaleX(1);
    }
    100% {
        transform: translateX(-50%) scaleX(0.71);
    }
}

.create-travelgroup {
    position: absolute;
    left: 34px;
    top: 638px;
    width: 325px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1.5px solid var(--pink02);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-travelgroup span {
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
}

.enter-invitedgroup {
    position: absolute;
    left: 34px;
    top: 705px;
    width: 325px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--pink02);
}

.enter-invitedgroup span {
    position: absolute;
    left: 77px;
    top: 15px;
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
}

.complete_create_group {
    position: absolute;
    left: 106px;
    top: 207px;
    font: var(--text-style-pretendard-semibold-24);
    color: var(--pink02);
}

.together_trip {
    position: absolute;
    left: 101px;
    top: 247px;
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
}

/* .complete_page-check_icon {
    position: absolute;
    left: 168px;
    top: 129px;
} */

.complete_page-check_icon {
    position: absolute;
    left: 168px;
    top: 129px;
    opacity: 0;
    transform: scale(0);
    animation: checkAnimation 1s ease-in-out forwards;
  }
  
  @keyframes checkAnimation {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

.complete_page-pink_cloud {
    position: absolute;
    right: 0;
    top: 393.43px;
    width: auto;
    height: 219.77px; 
    max-width: 50%;
    }

.enter-group, .share-link {
    width: 155px;
    height: 48px;
    flex-shrink: 0;
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

.enter-group {
    position: absolute;
    left: 204px;
    top: 705px;
    border-radius: 5px;
    background: var(--pink02);
    cursor: pointer;
}

.enter-group span, .share-link span {
    position: static;  
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
}

.share-link {
    position: absolute;
    left: 34px;
    top: 705px;
    border-radius: 5px;
    border: 1.5px solid var(--pink02);
    background-color: transparent;
}

#entryPage img {
    position: absolute;
    left: 100px;
    top: 154px;
}

.test-start-btn {
    position: absolute;
    left: 34px;
    top: 705px;
    width: 325px;
    height: 48px;
    border-radius: 5px;
    border: 1.5px solid var(--pink02);
    display: flex;  
    justify-content: center;  
    align-items: center;  
    text-decoration: none; 
}

.test-start-btn span {
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
}

.question, .findyourstyle, .skip-test {
    width: max-content;  
    text-align: center; 
    transform: translateX(-50%);  
    left: 50%;  
    position: absolute;
}

.question {
    font: var(--text-style-pretendard-semibold-20);
    color: var(--pink02);
    top: 289px;
}

.findyourstyle {
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
    top: 331px;
}

.skip-test {
    font: var(--text-style-pretendard-regular-14);
    color: var(--gray03);
    top: 657px;
}

.skip-test::after {
    content: ""; 
    position: absolute;  
    left: 50%;  
    transform: translateX(-50%);  
    width: 86.006px;
    height: 1px;
    background-color: var(--gray03); 
    top: 16.49px;  
}

.my-page-top, .nicknameedit-top {
    font: var(--text-style-pretendard-semibold-16);
    color: var(--pink02);
    position: absolute;
    top: 63px;
    left: 50%;  
    transform: translateX(-50%);  
}

.my-page-pink_cloud {
    position: absolute;
    top: 117.5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.my-page-container {
    width: 325px;
    height: 89px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1.5px solid var(--pink02);
    background-color: transparent;
    position: absolute;
    left: 34px;
    top: 175px;
}

#userName {
    font: var(--text-style-pretendard-semibold-20);
    color: var(--pink02);
    position: absolute;
    left: 57px;
    top: 192px;
}

.modify-nickname-container {
    width: 71px;
    height: 22px;
    flex-shrink: 0;
    border-radius: 24.444px;
    border: 1.5px solid var(--pink02);
    background: var(--pink01);
    position: absolute;
    left: 266px;
    top: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modify-nickname {
    color: var(--black);
    font: var(--text-style-pretendard-regular-14);
    line-height: normal;
    margin: 0;
    text-align: center;
}

.back-btn {
    position: absolute;
    left: 29px;
    top: 62px;
}

.nicknameedit-text {
    font: var(--text-style-pretendard-semibold-18);
    color: var(--black);
    position: absolute;
    left: 34px;
    top: 141px;
}

#nicknameInput {
    width: 325px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1.5px solid var(--gray03);
    position: absolute;
    top: 175px;
    left: 34px;
}

#nicknameInput::placeholder {
    font: var(--text-style-pretendard-regular-14);
    color: var(--gray03);
    text-align: left;
    padding-left: 10px; 
}

.nicknameedit-complete-btn {
    width: 325px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0px;
    background: var(--gray02);
    position: absolute;
    top: 705px;
    left: 34px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    text-decoration: none; 
}

.nicknameedit-complete-btn span {
    position: static;  
    font: var(--text-style-pretendard-semibold-16);
    color: var(--gray03);
}


.checktraveltype {
    font: var(--text-style-pretendard-regular-14);
    color: var(--gray03);
    position: absolute;
    top: 235px;
    left: 50%;  
    transform: translateX(-50%);  
    padding-bottom: 1px;
}

.checktraveltype::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 100%; 
    height: 1px;
    background-color: var(--gray03);
}

.now-travelgroup, .past-travelgroup {
    position: absolute;
    left: 34px;
    font: var(--text-style-pretendard-semibold-20);
}

.now-travelgroup {
    top: 334px;
    color: var(--blue02);

}

.past-travelgroup {
    top: 521px;
    color: var(--gray04);
}

.logout-btn {
    width: 325px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0px;
    border-color: var(--gray02);
    background: var(--gray02);
    position: absolute;
    top: 705px;
    left: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logout-btn span {
    position: static;
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
}

.test-page-container-top {
    font: var(--text-style-pretendard-semibold-16);
    color: var(--pink02);
    position: absolute;
    top: 63px;
    left: 146px;
}

.test-page-number {
    font: var(--text-style-pretendard-semibold-16);
    color: var(--gray03);
    position: absolute;
    left: 34px;
    top: 116px;
}

#test-page1 h3,
#test-page2 h3,
#test-page3 h3,
#test-page4 h3,
#test-page5 h3 {
    font: var(--text-style-pretendard-semibold-18);
    color: var(--black);
    position: absolute;
    left: 34px;
    top: 141px;
}

.test-page {
    position: relative;
    padding-top: 180px; 
    padding-left: 34px;
}

.test-page button:not(:last-child) {
    background-color: var(--gray01);
    width: 325px;
    height: 45px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px; 
    font: var(--text-style-pretendard-regular-14); 
    color: var(--gray04); 
}

.next-link, .complete-btn {
    width: 325px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0px;
    border-color: var(--gray02);
    background: var(--gray02);
    position: absolute;
    top: 705px;
    left: 34px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    font: var(--text-style-pretendard-semibold-16);
    color: var(--gray03);
}

/*a), b), c)숨기기*/
.test-page button .hidden-prefix {
    display: none;
}

.join_group-joinCode-container {
    width: 273px;
    height: 207px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--pink01);
    position: absolute;
    top: 322px;
    left: 50%;
    transform: translateX(-50%);
}

.join_group-white_cloud {
    position: absolute;
    top: 19px;
    left: 50%;
    transform: translateX(-50%);
}

.join_group-joinCode-h2 {
    flex-shrink: 0;
    color: var(--black);
    font: var(--text-style-pretendard-semibold-20);
    position: absolute;
    top: 76px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%; 
}

.InviteCodeForm {
    width: 235px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0 solid var(--white);
    background: var(--white);
    position: absolute;
    top: 114px;
    left: 19px;
}

.InviteCodeForm::placeholder {
    font: var(--text-style-pretendard-regular-14);
    color: var(--gray03);
    text-align: left;
    padding-left: 10px; 
}

.join_group-joinCode-button span {
    position: absolute;
    bottom: 17px;  
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
    width: 100%;  
}

/*label 텍스트 숨기기*/
label[for="id_invite_code"] {
    display: none;
} 

.create_travel-all-title, 
.create_travel-play-top,
.create_travel-eat-top,
.create_travel-stay-top,
.create_travel-others-top
{
    font: var(--text-style-pretendard-semibold-16);
    color: var(--pink02);
    position: absolute;
    top: 63px;
    left: 50%;  
    transform: translateX(-50%);  
}

/*
.create_travel-all-container {
    position: relative;
}*/

.create_travel-all-menu {
    position: absolute;
    top: 128px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}

.create_travel-all-play,
.create_travel-all-eat,
.create_travel-all-stay,
.create_travel-all-others {
    font: var(--text-style-pretendard-semibold-18);
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.create_travel-all-play { color: var(--play); }
.create_travel-all-eat { color: var(--eat); }
.create_travel-all-stay { color: var(--stay); }
.create_travel-all-others { color: var(--others); }

.create_travel-all-play::after,
.create_travel-all-eat::after,
.create_travel-all-stay::after,
.create_travel-all-others::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 100%; 
    height: 2.5px;
    z-index: 1;
}
/*
.create_travel-all-play::after { background-color: var(--play); }
.create_travel-all-eat::after { background-color: var(--eat); }
.create_travel-all-stay::after { background-color: var(--stay); }
.create_travel-all-others::after { background-color: var(--others); }*/


.create_travel-all-menu::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;  
    height: 1.5px;
    background-color: var(--gray01);
    z-index: 0;
}


.create_travel-play-title,
.create_travel-eat-title,
.create_travel-stay-title,
.create_travel-others-title {
    position: absolute;
    left: 34px;
    top: 101px;
    font: var(--text-style-pretendard-semibold-20);
}

.create_travel-play-title {
    color: var(--play);
}

.create_travel-eat-title {
    color: var(--eat);
}

.create_travel-stay-title {
    color: var(--stay);
}

.create_travel-others-title {
    color: var(--others);
}


.create_travel-all-menu a {
    color: #616161; 
    text-decoration: none;
    position: relative;
}

.create_travel-all-play.active::after {
    background-color: var(--play);
}

.create_travel-all-eat.active::after {
    background-color: var(--eat);
}

.create_travel-all-stay.active::after {
    background-color: var(--stay);
}

.create_travel-all-others.active::after {
    background-color: var(--others);
}

.create_travel-all-play.active {
    color: var(--play);
}

.create_travel-all-eat.active {
    color: var(--eat);
}

.create_travel-all-stay.active {
    color: var(--stay);
}

.create_travel-all-others.active {
    color: var(--others);
}


.create_travel-play-place span,
.create_travel-eat-place span,
.create_travel-stay-place span,
.create_travel-others-place span {
    position: absolute;
    left: 34px;
    top: 141px;
    font: var(--text-style-pretendard-semibold-18);
    color: var(--black);
}

.create_travel-play-place-info,
.create_travel-eat-place-info,
.create_travel-stay-place-info,
.create_travel-others-place-info {
    position: absolute;
    left: 34px;
    top: 261px;
    font: var(--text-style-pretendard-semibold-18);
    color: var(--black);
}

.create_travel-play-place input,
.create_travel-eat-place input,
.create_travel-stay-place input,
.create_travel-others-place input {
    width: 325px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1.5px solid var(--gray03);
    position: absolute;
    top: 175px;
    left: 50%;  
    transform: translateX(-50%);  
}

.create_travel-play-place input::placeholder,
.create_travel-play-place-info input::placeholder,
.create_travel-eat-place input::placeholder,
.create_travel-eat-place-info input::placeholder,
.create_travel-stay-place input::placeholder,
.create_travel-stay-place-info input::placeholder,
.create_travel-others-place input::placeholder,
.create_travel-others-place-info input::placeholder {
    font: var(--text-style-pretendard-regular-14);
    color: var(--gray03);
    text-align: left;
    padding-left: 10px; 
}

 .create_travel-play-place-info input,
 .create_travel-eat-place-info input,
 .create_travel-stay-place-info input,
 .create_travel-others-place-info input {
    width: 325px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1.5px solid var(--gray03);
    position: fixed;
    top: 295px;
    left: 50%;  
    transform: translateX(-50%);
}

.char-count {
    font: var(--text-style-pretendard-regular-14);
    color: var(--gray03);
    text-align: left;
    position: absolute;
    left: 285px;
    top: 49px;
}

.btn-submit {
    width: 325px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0px;
    background: var(--gray02);
    position: absolute;
    top: 705px;
    left: 34px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    text-decoration: none; 
}

.btn-submit span {
    position: static;  
    font: var(--text-style-pretendard-semibold-16);
    color: var(--gray03);
}

.search-btn-gray {
    position: absolute;
    left: 321px;
    top: 186px;
}

.create_travel-play-place-search.create_travel-page input {
    width: 325px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1.5px solid var(--pink02);
    position: absolute;
    top: 89px;
    left: 50%;  
    transform: translateX(-50%);
}

.create_travel-play-place-search.create_travel-page input::placeholder {
    font: var(--text-style-pretendard-regular-14);
    color: var(--gray03);
    text-align: left;
    padding-left: 10px; 
}

.search-btn-pink{
    position: absolute;
    left: 321px;
    top: 100px;
}

.travel-detail-page-top {
    color: var(--pink02);
    font: var(--text-style-pretendard-semibold-16);
    position: absolute;
    top: 63px;
    left: 50%;  
    transform: translateX(-50%);
    white-space: nowrap;
}

.comment-count {
    position: absolute;
    left: 34px;
    top: 285px;
    font: var(--text-style-pretendard-semibold-18);

}

.comment-item {
    position: relative;
}

.comment-item:first-child {
    position: absolute;
    top: 343px; /* 원하는 고정 위치 */
    left: 20px;
}

.comment-item:not(:first-child) {
    margin-top: calc(71px + 343px); /* 첫 번째 댓글의 위치를 반영 */
}

.comment-content {
    margin-left: 86px; /* 왼쪽 여백 */
}


#travelDetailComments input[type="text"] {
    width: 325px;
    height: 46px;
    flex-shrink: 0;
    position: absolute;
    top: 763px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    border: 1.5px solid var(--pink02);
}

#comment_${itemId}::placeholder {
    font: var(--text-style-pretendard-regular-14);
    color: var(--gray03);
    text-align: left;
    padding-left: 10px; 
}

.send-btn {
    position: absolute;
    left: 328px;
    top: 774px;
}

#searchResults {
    position: absolute;
    top: 150px;
    left: 0;  
    width: 100%;  
    box-sizing: border-box; 
    padding-left: 25px; 
    padding-right: 25px; 
}

#searchResults h3 {
    font: var(--text-style-pretendard-semibold-18);
    color: var(--black);
    text-indent: 25px;
}

#searchResults p {
    font: var(--text-style-pretendard-semibold-14);
    color: var(--gray04);
    text-indent: 25px;
}

#searchResults ul {
    list-style-type: none;
    padding: 0;
    margin: 0;  
}

#searchResults li {
    cursor: pointer;
    padding: 10px 25px;  
    border-bottom: 1.5px solid var(--gray01);
    margin-left: -25px;  
    margin-right: -25px; 
}

#searchResults li:hover {
    background-color: #F9D9E6;
}

.plan-item-content {
    position: relative;
}

.category-icon {
    position: relative; /* relative로 변경하여 부모 요소 내에서만 이동 */
    top: 177px;
    transform: translateX(-50%);  
    left: 50%;  
    cursor: pointer;
}


.plan-category {
    display: none;
}

.plan-creator {
    position: absolute;
    left: 302px;
    top: 151px; /* icon과 상호작용하는 요소들 위치 수정 */
    font: var(--text-style-pretendard-regular-12);
    color: var(--black);
}

.plan-place {
    position: absolute;
    left: 72px;
    top: 93px;
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
}

.plan-description {
    position: absolute;
    left: 72px;
    top: 130px; /* icon과 상호작용하는 요소들 위치 수정 */
    font: var(--text-style-pretendard-regular-12);
    color: var(--black);
}

.bi-heart-fill {
    color: #EA636A;
    position: absolute;
    left: 53px;
    top: 152px
}

.timetable-add { 
    display: none; /* 우선 숨겨놓고 화현 ver이랑 합치면 수정 */
}

.bi-heart{
    position: absolute;
    left: 53px;
    top: 152px
}

.like-count{
    position: absolute;
    left: 72px;
    top: 148px
}

/*여행계획 상세보기 페이지*/
.type-icon {
    position: absolute;
    left: 38px;
    top: 123px;
}

.detail-type {
    display: none;
}

.detail-author {
    position: absolute;
    left: 304px;
    top: 188px;
    font: var(--text-style-pretendard-regular-12);
    color: var(--black);
}

.detail-place {
    position: absolute;
    left: 73px;
    top: 131px;
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
}

.detail-description {
    position: absolute;
    left: 73px;
    top: 166px;
    font: var(--text-style-pretendard-regular-14);
    color: var(--black);
}

.bi-heart-btn2 {
    position: absolute;
    left: 53px;
    top: 188px;

}

.like-count-2 {
    position: absolute;
    left: 73px;
    top: 186px;
    font: var(--text-style-pretendard-regular-14);
    color: var(--black);
}

.delete-plan {
    width: 60px;
    height: 22px;
    flex-shrink: 0;
    border-radius: 24.444px;
    border: 1.5px solid var(--pink02);
    background: var(--pink01);
    position: absolute;
    left: 296px;
    top: 229px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-plan span {
    color: var(--black);
    font: var(--text-style-pretendard-regular-12);
    line-height: normal;
    margin: 0;
    text-align: center;
}

.timetable-top {
    color: var(--pink02);
    font: var(--text-style-pretendard-semibold-16);
    position: absolute;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.timetable-return-btn,
.timetable-next-btn {
    color: var(--pink02);
    font: var(--text-style-pretendard-semibold-16);
    position: absolute;
    top: 610px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; 
}

.pagination button {
    cursor: pointer;
}

.timetable {
    width: 370px;
    height: 432px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

}

.timetable-date,
.timetable-time {
    font: var(--text-style-pretendard-regular-14);
    color: var(--black);
}

.timetable th, .timetable td {
    border: 1.5px solid var(--gray02);
    padding: 8px;
    text-align: center;
    position: relative;
}


.plan {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
    padding: 2px;
    font: var(--text-style-pretendard-regular-14);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play { background-color: var(--play); }
.eat { background-color: var(--eat); }
.stay { background-color: var(--stay); }
.others { background-color: var(--others); }
/*
.plan-management {
    margin-top: 650px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
}*/
.category-buttons {
    margin-bottom: 10px;
}
.category-buttons button {
    margin-right: 10px;
}
.plan-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* 모달이 다른 요소들 위에 위치하도록 z-index 값 설정 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
        width: 273px;
        height: 207px;
        flex-shrink: 0;
        border-radius: 30px;
        background: var(--pink01);
        position: absolute;
        top: 322px;
        left: 50%;
        transform: translateX(-50%);
}

.modal-content h3 {
    color: var(--black);
    font: var(--text-style-pretendard-semibold-20);
    position: absolute;
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.close-btn {
    position: absolute;
    left: 228px;
    top: 11px;
}

.modal-modify {
        color: var(--black);
        font: var(--text-style-pretendard-semibold-16);
        position: absolute;
        left: 71px;
        top: 159px;
}

.modal-remove {
    color: #EA636A;
    font: var(--text-style-pretendard-semibold-16);
    position: absolute;
    left: 71px;
    top: 159px;
}

.modal-delete,
.modal-undo {
    color: var(--black);
    font: var(--text-style-pretendard-semibold-16);
    position: absolute;
    left: 164px;
    top: 159px;

}

.modal-next,
.modal-complete {
    color: var(--black);
    font: var(--text-style-pretendard-semibold-16);
    position: absolute;
    top: 159px;
    left: 50%;
    transform: translateX(-50%);
}

    /* 날짜 선택기 컨테이너 */
.date-picker-container {
    border-radius: 15px;
    font: var(--text-style-pretendard-regular-14);
    width: 240px;
    position: relative;
    cursor: pointer;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* 선택 요소 스타일링 */
  #modal-date {
    font: var(--text-style-pretendard-regular-14);
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: var(--white);
    color: #333;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  /* 커스텀 화살표 추가 */
  .date-picker-container::after {
    content: '\25BC'; /* 아래쪽 화살표 유니코드 */
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #FF69B4;
  }

  /* 시간 선택기 컨테이너 */
.time-picker-container {
    margin-bottom: 15px;
}


/* 라벨 스타일 */
.modal-content label {
    display: block;
    margin-bottom: 5px;
    font: var(--text-style-pretendard-regular-14);
}

  #modal-start-time,
  #modal-end-time {
      font: var(--text-style-pretendard-regular-14);
      width: 35%;
      padding: 10px;
      border: none;
      border-radius: 10px;
      background-color: var(--white);
      color: #333;
      appearance: none; 
      -webkit-appearance: none;
      -moz-appearance: none;
      margin-bottom: 15px;
  }

  #modal-start-time {
    position: absolute;
    left: 32px;
    top: 112px;
  }

  #modal-end-time  {
    position: absolute;
    left: 147px;
    top: 112px;
  }
  
  /* 커스텀 화살표 추가 */
  .time-picker-container {
      position: relative;
  }

  .modal-date-start::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #FF69B4;
}

  .time-modal-center {
    width: 8px;
    height: 1.5px;
    background: var(--white);
    position: absolute;
    top: 130px;
    left: 133px
}

.main-ticket-img {
    position: absolute;
    top: 256px;
    left: 50%;
    transform: translateX(-50%);
}

.main-plan-btn {
    position: absolute;
    left: 92px;
    top: 563px;
}

.main-timetable-btn {
    position: absolute;
    left: 170px;
    top: 563px;
}

.main-map-btn {
    position: absolute;
    left: 248px;
    top: 563px;
}

.create_travel-main-members-text {
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
    position: absolute;
    left: 33px;
    top: 133px;
}

.create_travel-main-title {
    position: absolute;
    left: 71px;
    top: 286px;
    font: var(--text-style-pretendard-semibold-18);
    color: var(--black);
    line-height: 25px;
}

.create_travel-main-title span {
    color: #F36DA6;
}

.create_travel-main-btn {
    width: 125px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--gray01);
    position: absolute;
    top: 695px;
    left: 50%;
    transform: translateX(-50%);
}

.create_travel-main-btn span {
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
}

  