{% extends 'base.html' %}
{% load static %}

{% block title %}Oddy{% endblock %}

{% block content %}

<style>
.create_travel-buttons {
    position: fixed;
    bottom: 20px;
    right: 5%;
    display: none; /* 기본적으로 숨김 */
    flex-direction: row;
    gap: 10px;
    z-index: 1000;
    transform: none;
}
body.custom-container-style {
    width: 393px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    background-color: white;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0 0 100vw black; /* 외부 영역을 검은색으로 만듭니다 */
}

body.custom-container-style::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* 바탕 색을 검은색으로 설정 */
    z-index: -1; /* 요소의 뒤쪽에 위치시켜서 흰색 영역 뒤에 검은색 배경을 만듭니다 */
}

body.custom-container-style .container {
    z-index: 1; /* 컨텐츠가 배경 위에 나타나도록 보장 */
}

</style>


</style>

<!--여행 모임 입장하기 누르면 나오는 메인-->
<div id="travelMain" class="create_travel-main create_travel-page active">
    <h2 class="travelmain-logo">Oddy</h2>
    <div class="main-ticket-img">
        <img src="{% static 'image/main-ticket.svg' %}" alt="ticket" width="288.7" height="454">
    </div>
    <div class="create_travel-main-header">
        <h3 class="create_travel-main-title">{{ travel_name }}<br>여행 시작까지 <span>{% if d_day is not None %}{{ d_day }}{% else %}{% endif %}일</span> 남았어요!</h3>
    </div>
    <div class="create_travel-main-text">
        <h3 class="travelmain-datetext">{{ travel_group.start_date|date:"n월 j일" }} - {{ travel_group.end_date|date:"n월 j일" }}</h3>
    </div>
   
    <div class="create_travel-main-members-container">
        <div class="create_travel-main-members-text">함께 여행가는 친구들</div>
        <div class="ct-travelgroup-container">
            <ul class="travelgroup-ul">
                {% for member in travel_group.members.all %}
                    <li>
                        <div class="profile-circle">
                            {% if member.travel_type %}
                                <a href="javascript:void(0);" onclick="showFriendTestResult('{{ member.nickname }}', '{{ member.travel_type }}')">
                                    {% if member.travel_type == '완벽주의 플래너형' %}
                                        <img src="{% static 'image/character1.svg' %}" alt="완벽주의 플래너형">
                                    {% elif member.travel_type == '자유로운 모험가형' %}
                                        <img src="{% static 'image/character2.svg' %}" alt="자유로운 모험가형">
                                    {% elif member.travel_type == '휴식 추구형' %}
                                        <img src="{% static 'image/character3.svg' %}" alt="휴식 추구형">
                                    {% elif member.travel_type == '미식 탐험가형' %}
                                        <img src="{% static 'image/character4.svg' %}" alt="미식 탐험가형">
                                    {% elif member.travel_type == '균형 잡힌 탐험가형' %}
                                        <img src="{% static 'image/character5.svg' %}" alt="균형 잡힌 탐험가형">
                                    {% else %}
                                        <img src="{% static 'image/default_profile.svg' %}" alt="Default Profile">
                                    {% endif %}
                                </a>
                            {% else %}
                                <img src="{% static 'image/default_profile.svg' %}" alt="Default Profile">
                            {% endif %}
                        </div>
                        <span class="nickname">{{ member.nickname }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="full-width-divider"></div>
    </div>
    
    

    <!-- 친구 테스트 결과 모달 -->
<div id="friendTestResultModal" class="friends-testresult-modal" style="display: none;">
    <div class="maintravel-modal-content">
        <span class="close" onclick="closeFriendTestResult()">&times;</span>
        <div id="friendTestResultContent"></div>
    </div>
</div>
    
    <div class="create_travel-main-addPlans" onclick="showPage('viewSchedulePage')">
        <p>            
        <img src="{% static 'image/main-plan-btn.svg' %}" alt="plan-btn" width="58" height="58" class="main-plan-btn"></p>
    </div><br>
    
    <div class="create_travel-main-timetable">
        {% if travel_group %}
        <a href="{% url 'plans:timetable' travel_group_id=travel_group.id %}">
            <img src="{% static 'image/main-timetable-btn.svg' %}" alt="timetable-btn" width="58" height="58" class="main-timetable-btn">
        </a>
        {% else %}
        {% endif %}
 
    {% if travel_group %}
    <a href="{% url 'plans:travel_map' travel_group_id=travel_group.id %}" class="create_travel-main-button">
        <img src="{% static 'image/main-map-btn.svg' %}" alt="map-btn" width="58" height="58" class="main-map-btn">
    </a>
    {% else %}
    {% endif %}
    </div><br>
    <button class="create_travel-main-invite-btn" onclick="sendLinkCustom()">
        <span>친구 초대하기</span>
    </button>
</div>

<!--여행 계획 추가하기->play->추가하기-->
<div id="playPage" class="create_travel-play-container create_travel-page">
    <h3 class="create_travel-play-top">여행 계획 추가하기</h3>
    <h3 class="create_travel-play-title">PLAY</h3>
    <div class="create_travel-play-place">
        <label for="play-place">
            <span>여행지를 알려주세요!</span>
        </label>
        <input type="text" id="play-place" name="place" placeholder="장소 이름을 검색해보세요">
        <button onclick="previousPage='playPage'; showPage('placeSearchPage'); document.getElementById('search-place').value = document.getElementById('play-place').value;">
            <img src="{% static 'image/search-gray.svg' %}" alt="search-btn" width="24" height="24" class="search-btn-gray">
        </button>
    </div>
    <div class="create_travel-play-place-info">
        <label for="play-description">
            <span>여행지를 한줄로 소개해주세요!</span>
        </label>
        <input type="text" id="play-description" name="description" placeholder="ex. 내가 추천받은 곳이야" maxlength="20" oninput="updateCharCount('play-description', 'play-char-count', 'play-char-error')">
        <p id="play-char-count" class="char-count">0/20</p>
    </div>
    <button class="btn-submit" onclick="submitForm('play')">
        <span>완료</span>
    </button>
</div>

<!--여행 계획 추가하기->eat->추가하기-->
<div id="eatPage" class="create_travel-eat-container create_travel-page">
    <h3 class="create_travel-play-top">여행 계획 추가하기</h3>
    <h3 class="create_travel-eat-title">EAT</h3>
    <div class="create_travel-eat-place">
        <label for="eat-place">
            <span>여행지를 알려주세요!</span>
        </label><br>
        <input type="text" id="eat-place" name="place" placeholder="장소 이름을 검색해보세요">
        <button onclick="previousPage='eatPage'; showPage('placeSearchPage'); document.getElementById('search-place').value = document.getElementById('eat-place').value;">
            <img src="{% static 'image/search-gray.svg' %}" alt="search-btn" width="24" height="24" class="search-btn-gray">
        </button>
    </div>
    <div class="create_travel-eat-place-info">
        <label for="eat-description">여행지를 한줄로 소개해주세요!</label><br>
        <input id="eat-description" name="description" placeholder="ex. 내가 추천받은 곳이야" maxlength="20" oninput="updateCharCount('eat-description', 'eat-char-count', 'eat-char-error')">
        <p id="eat-char-count" class="char-count">0/20</p>
    </div>
    <button class="btn-submit" onclick="submitForm('eat')">
        <span>완료</span>
    </button>
</div>

<!--여행 계획 추가하기->stay->추가하기-->
<div id="stayPage" class="create_travel-stay-container create_travel-page">
    <h3 class="create_travel-play-top">여행 계획 추가하기</h3>
    <h3 class="create_travel-stay-title">STAY</h3>
    <div class="create_travel-stay-place">
        <label for="stay-place">
            <span>여행지를 알려주세요!</span>
        </label><br>
        <input type="text" id="stay-place" name="place" placeholder="장소 이름을 검색해보세요">
        <button onclick="previousPage='stayPage'; showPage('placeSearchPage'); document.getElementById('search-place').value = document.getElementById('stay-place').value;">
            <img src="{% static 'image/search-gray.svg' %}" alt="search-btn" width="24" height="24" class="search-btn-gray">
        </button>
    </div>
    <div class="create_travel-stay-place-info">
        <label for="stay-description">여행지를 한줄로 소개해주세요!</label><br>
        <input id="stay-description" name="description" placeholder="ex. 내가 추천받은 곳이야" maxlength="20" oninput="updateCharCount('stay-description', 'stay-char-count', 'stay-char-error')">
        <p id="stay-char-count" class="char-count">0/20</p>
    </div>
    <button class="btn-submit" onclick="submitForm('stay')">
        <span>완료</span>
    </button>
</div>

<!--여행 계획 추가하기->others->추가하기-->
<div id="othersPage" class="create_travel-others-container create_travel-page">
    <h3 class="create_travel-play-top">여행 계획 추가하기</h3>
    <h3 class="create_travel-others-title">OTHERS</h3>
    <div class="create_travel-others-place">
        <label for="others-place">
            <span>여행지를 알려주세요!</span>
        </label><br>
        <input type="text" id="others-place" name="place" placeholder="장소 이름을 검색해보세요">
        <button onclick="previousPage='othersPage'; showPage('placeSearchPage'); document.getElementById('search-place').value = document.getElementById('others-place').value;">
            <img src="{% static 'image/search-gray.svg' %}" alt="search-btn" width="24" height="24" class="search-btn-gray">
        </button>
    </div>
    <div class="create_travel-others-place-info">
        <label for="others-description">여행지를 한줄로 소개해주세요!</label><br>
        <input id="others-description" name="description" placeholder="ex. 내가 추천받은 곳이야" maxlength="20" oninput="updateCharCount('others-description', 'others-char-count', 'others-char-error')">
        <p id="others-char-count" class="char-count">0/20</p>
    </div>
    <button class="btn-submit" onclick="submitForm('others')">
        <span>완료</span>
    </button>
</div>

<!--장소검색-->
<div id="placeSearchPage" class="create_travel-play-place-search create_travel-page">
    <input type="text" id="search-place" name="place" placeholder="장소 이름을 검색해보세요">
    <button>
        <img onclick="searchPlace()" src="{% static 'image/search-pink.svg' %}" alt="search-btn" width="24" height="24" class="search-btn-pink"> 
    </button><br>
    <div id="searchResults"></div>
    <button class="btn-submit" onclick="showPage(previousPage)">
        <span>완료</span></button>
</div>


<!--메인->여행 계획 추가하기-->
<div id="viewSchedulePage" class="create_travel-all-container create_travel-page">
    <h3 class="create_travel-all-title">여행 계획 확인하기</h3>
    <button onclick="showPage('travelMain')">
        <img src="{% static 'image/chevron-left.svg' %}" alt="back-btn" width="18" height="18" class="back-btn" onclick="showPage('travelMain')">
    </button>
    <div class="create_travel-all-menu">
        <a href="#" onclick="showContent('playContent'); selectPlan('play')" class="create_travel-all-play">PLAY</a>
        <a href="#" onclick="showContent('eatContent'); selectPlan('eat')" class="create_travel-all-eat">EAT</a>
        <a href="#" onclick="showContent('stayContent'); selectPlan('stay')" class="create_travel-all-stay">STAY</a>
        <a href="#" onclick="showContent('othersContent'); selectPlan('others')" class="create_travel-all-others">OTHERS</a>
    </div>
    <div id="playContent" class="create_travel-all-content">
        <div class="content-items"></div>
    </div>
    <div id="eatContent" class="create_travel-all-content">
        <div class="content-items"></div>
    </div>
    <div id="stayContent" class="create_travel-all-content">
        <div class="content-items"></div>
    </div>
    <div id="othersContent" class="create_travel-all-content">
        <div class="content-items"></div>
    </div>
    <div class="create_travel-buttons">
        <button class="add-button" onclick="addNewPlan()">
            <img src="{% static 'image/plus-btn.svg' %}" alt="back-btn" width="53" height="53" class="plus-btn">
        </button>
        {% if travel_group %}
        <a href="{% url 'plans:timetable' travel_group_id=travel_group.id %}">
            <img src="{% static 'image/calender-btn.svg' %}" alt="back-btn" width="53" height="53" class="calender-btn">
        </a>
        {% else %}
        {% endif %}
    </div>
</div>

<!-- 여행 계획 디테일(댓글입력) -->
<div id="travelDetail" class="create_travel-page">
    <h3 class="travel-detail-page-top">여행 계획 상세보기</h3>
    <div id="travelDetailContent"></div>
    <button onclick="deleteTravelPlan()" class="delete-plan">
        <span>계획 삭제</span></button>
    <button onclick="showPage('viewSchedulePage')">
        <img src="{% static 'image/chevron-left.svg' %}" alt="back-btn" width="18" height="18" class="back-btn"> 
    </button>
    <div id="travelDetailComments"></div>
</div>

<div id="groupIdContainer" data-group-id="{{ travel_group.id }}">
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
var naverMapClientId = "{{ naver_map_client_id|escapejs }}";
</script>
<script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=" + naverMapClientId + "&submodules=geocoder"></script>
<script>
    function showFriendTestResult(nickname, travelType) {
    let travelTypes = {
        '완벽주의 플래너형': {
            className: 'perfect-planner',
            svg: `<img src="{% static 'image/character1.svg' %}" alt="완벽주의 플래너형" width="136.67" height="121.31">`,
            name: '완벽주의 플래너형',
            keyword1: '#효율적',
            keyword2: '#체계적',
            characteristics: '세세한 계획을 세우고 주요 관광지를 빠짐없이 방문해요',
            advantages: ['시간 관리에 탁월해요', '예산 통제력이 우수해요', '주요 명소를 놓치지 않아요'],
            disadvantages: ['융통성이 부족해요', '예상 밖 상황에 스트레스를 받아요']
        },
        '자유로운 모험가형': {
            className: 'free-planner',
            svg: `<img src="{% static 'image/character2.svg' %}" alt="자유로운 모험가형" width="135.02" height="151.29">`,
            name: '자유로운 모험가형',
            keyword1: '#즉흥적',
            keyword2: '#문화체험',
            characteristics: '현지 문화에 깊이 몰입하며 새로운 경험을 추구해요',
            advantages: ['독특한 경험을 발견해요', '현지인과 쉽게 교류해요', '예상 밖 상황을 즐겨요'],
            disadvantages: ['중요 일정을 놓칠 수 있어요', '안전 문제가 발생할 수 있어요']
        },
        '휴식 추구형': {
            className: 'rest',
            svg: `<img src="{% static 'image/character3.svg' %}" alt="휴식 추구형" width="134.83" height="122.54">`,
            name: '휴식 추구형',
            keyword1: '#힐링',
            keyword2: '#여유',
            characteristics: '편안한 숙소에서 여유롭게 시간을 보내며 휴식해요',
            advantages: ['충분한 휴식과 재충전이 가능해요', '스트레스 없는 여행을 추구해요', '여유로운 일정 진행이 가능해요'],
            disadvantages: ['새로운 경험이 부족할 수 있어요', '현지 문화 체험 제한적이에요']
        },
        '미식 탐험가형': {
            className: 'eat',
            svg: `<img src="{% static 'image/character4.svg' %}" alt="미식 탐험가형" width="156.4" height="150.85">`,
            name: '미식 탐험가형',
            keyword1: '#맛집투어',
            keyword2: '#현지음식',
            characteristics: '현지 음식과 맛집 위주로 여행 일정을 구성해요',
            advantages: ['음식으로 문화를 이해해요', '독특한 맛집을 발굴해요', '현지 시장 탐방이 능숙해요'],
            disadvantages: ['다른 관광 요소를 놓칠 수 있어요', '식비 초과 가능성이 있어요']
        },
        '균형 잡힌 탐험가형': {
            className: 'explorer',
            svg: `<img src="{% static 'image/character5.svg' %}" alt="균형 잡힌 탐험가형" width="127.2" height="132.88">`,
            name: '균형잡힌 탐험가형',
            keyword1: '#다재다능',
            keyword2: '#융통성',
            characteristics: '계획과 즉흥성의 균형을 맞추며 다양한 경험을 추구해요',
            advantages: ['다양한 여행 요소 체험이 가능해요', '상황에 따른 대처가 가능해요', '친구와 조화롭게 여행할 수 있어요'],
            disadvantages: ['우선순위 설정이 어려워요', '깊이 있는 경험이 부족할 수 있어요']
        },
    };

    let type = travelTypes[travelType];

    let resultHtml = `
        <div class="testResult-top">
            <p>여행 유형</p>
        </div>
        <div class="testResult-bottom">
            ${type.svg}
            <p class="testResult-text">${nickname}님의 여행 유형은</p>
            <strong class="testResult-result-type">${type.name}입니다!</strong>
            <div class="testResult-keywords1">
                <p class="testResult-keyword1">${type.keyword1}</p>
            </div>
            <div class="testResult-keywords2">
                <p class="testResult-keyword2">${type.keyword2}</p>
            </div>
            <div class="testResult-characteristics-box">
                <p class="testResult-characteristics">${type.characteristics}</p>
            </div>
            <div class="testResult-advantages">
                <p class="testResult-advantages-p">이런걸 잘해요</p>
                <ul class="testResult-advantages-ul">
                    ${type.advantages.map(item => `<li>${item}</li>`).join('')}
                </ul>
            </div>
            <div class="testResult-disadvantages">
                <p class="testResult-disadvantages-p">아쉬운 점은</p>
                <ul class="testResult-disadvantages-ul">
                    ${type.disadvantages.map(item => `<li>${item}</li>`).join('')}
                </ul>
            </div>
        </div>
    `;

    document.getElementById('friendTestResultContent').innerHTML = resultHtml;
    document.getElementById('friendTestResultModal').style.display = 'block';
}

function closeFriendTestResult() {
    document.getElementById('friendTestResultModal').style.display = 'none';
}


    const groupId = document.getElementById('groupIdContainer').dataset.groupId;
    let previousPage = '';
    let selectedPlan = '';
    let itemIdCounter = 0;
    let currentItemId = null;
    let currentType = null;

document.addEventListener('DOMContentLoaded', function() {
    var buttonsContainer = document.querySelector(".create_travel-buttons");
    if (buttonsContainer) {
        // .create_travel-buttons 요소를 body로 이동
        document.body.appendChild(buttonsContainer);

        // 특정 스타일이 적용되도록 클래스를 body에 추가
        document.body.classList.add('custom-container-style');
    }
});



function showPage(pageId) {
    // 모든 페이지 숨기기
    const pages = document.getElementsByClassName('create_travel-page');
    for (let page of pages) {
        page.style.display = 'none';
    }

    // 선택된 페이지를 보여주기
    const selectedPage = document.getElementById(pageId);
    selectedPage.style.display = 'block';

    // 모든 페이지의 active 상태 제거
    document.querySelectorAll('.create_travel-page').forEach(page => {
        page.classList.remove('active');
    });

    // 선택된 페이지를 active 상태로 설정
    if (pageId === 'previousPage') {
        document.getElementById(previousPage).classList.add('active');
    } else {
        selectedPage.classList.add('active');
    }

    // 페이지에 따라 버튼 표시/숨김 설정
    const buttons = document.querySelector('.create_travel-buttons');
    if (pageId === 'viewSchedulePage') {
        buttons.style.display = 'flex'; // 'viewSchedulePage'에서만 버튼 표시
    } else {
        buttons.style.display = 'none'; // 다른 페이지에서는 버튼 숨김
    }
}


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    // 여행 계획 유형 선택 함수
    function selectPlan(planType) {
    // 선택된 플랜 유형을 설정
    selectedPlan = planType;
    
    // 모든 메뉴 항목에서 active 클래스를 제거
    const menuItems = document.querySelectorAll('.create_travel-all-menu a');
    menuItems.forEach(item => {
        item.classList.remove('active');
    });
    
    // 선택한 메뉴 항목에 active 클래스를 추가
    const selectedItem = document.querySelector(`.create_travel-all-${planType}`);
    if (selectedItem) {
        selectedItem.classList.add('active');
    }
    
    // 선택한 유형의 콘텐츠를 표시
    showContent(planType + 'Content');
}


    // 새로운 여행 계획 추가
    function addNewPlan() {
        if (selectedPlan) {
            showPage(selectedPlan + 'Page');
        } else {
            alert('장소 카테고리를 먼저 선택해주세요!');
        }
    }

    function updateCharCount(inputId, countId, errorId) {
    const input = document.getElementById(inputId);
    const charCount = document.getElementById(countId);
    const errorMsg = document.getElementById(errorId);
    const maxLength = 20;

    if (input.value.length > maxLength) {
        input.value = input.value.slice(0, maxLength);  // 20자로 잘라냄
    }

    charCount.textContent = `${input.value.length}/${maxLength}`;

    if (input.value.length === maxLength) {
        errorMsg.style.display = 'block';
    } else {
        errorMsg.style.display = 'none';
    }
}

    function submitForm(formType) {
        const placeId = `${formType}-place`;
        const descriptionId = `${formType}-description`;
        const place = document.getElementById(placeId).value;
        const description = document.getElementById(descriptionId).value;

        if (place.trim() === "" || description.trim() === "") {
            alert("여행지와 설명을 모두 입력해주세요.");
            return;
        }

        if (description.length > 20) {
            document.getElementById(`${formType}-char-error`).style.display = 'block';
            return;
        }

        document.getElementById(placeId).value = '';
        document.getElementById(descriptionId).value = '';
        updateCharCount(descriptionId, `${formType}-char-count`, `${formType}-char-error`);

    }

    function submitForm(type) {
    let placeInput = document.getElementById(`${type}-place`);
    let place = placeInput.value;
    let address = placeInput.dataset.address;
    let description = document.getElementById(`${type}-description`).value;
    if (!place || !description || !address) {
        alert('모든 내용을 채워주세요.');
        return;
    }

    fetch(`/group/${groupId}/add_plan/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        },
        body: JSON.stringify({category: type, place, address, description})
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            clearForm(type);
            showPage('viewSchedulePage');
            showContent(`${type}Content`);
            loadPlans(type);
        } else {
            alert('계획 추가 실패: ' + data.message);
        }
    });
}

function searchPlace() {
    let query = document.getElementById('search-place').value;
    if (!query) {
        alert('장소를 입력해주세요.');
        return;
    }
    // 검색 결과를 초기화
    document.getElementById('searchResults').innerHTML = '';

    fetch(`/search/?query=${encodeURIComponent(query)}&type=address`)
    .then(response => response.json())
    .then(data => {
        let resultsHtml = '<ul>';
        if (data.results && data.results.length > 0) {
            data.results.forEach(function(item) {
                let title = item.title.replace(/<[^>]*>/g, '');
                let address = item.address || item.roadAddress;
                resultsHtml += `<li onclick="selectPlace('${title.replace(/'/g, "\\'")}', '${address.replace(/'/g, "\\'")}')">
                                    <h3>${title}</h3>
                                    <p>${address}</p>
                                </li>`;
            });
        } else {
            resultsHtml += '<li>검색 결과가 없습니다.</li>';
        }
        resultsHtml += '</ul>';
        document.getElementById('searchResults').innerHTML = resultsHtml;
    })
    .catch(error => {
        console.error('Error:', error);
        alert('검색 결과를 가져오는데 실패했습니다.');
    });
}


function selectPlace(title, address) {
    title = title.replace(/<[^>]*>/g, '');
    address = address.replace(/<[^>]*>/g, '');
    console.log("selectPlace 함수 호출됨, 상호명:", title, "주소:", address);
    console.log("이전 페이지:", previousPage);

    if (!previousPage) {
        console.error("이전 페이지 정보가 없습니다.");
        return;
    }

    let type = previousPage.replace('Page', '');
    let inputField = document.getElementById(`${type}-place`);
    
    if (inputField) {
        inputField.value = title;  // 상호명을 입력 필드에 설정
        inputField.dataset.address = address;  // 주소를 데이터 속성에 저장
        console.log(`상호명 "${title}"와 주소 "${address}"가 ${type} 페이지에 저장되었습니다.`);
    } else {
        console.error(`${type}-place 입력 필드를 찾을 수 없습니다.`);
    }
    
    showPage(previousPage);
}


// 여행 계획 불러오기
function loadPlans(category) {
    const url = `/group/${groupId}/get_plans/?category=${category}`;
    console.log('Request URL:', url);
    fetch(url)
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        console.log('Received data:', data);
        const contentContainer = document.querySelector(`#${category}Content .content-items`);
        contentContainer.innerHTML = '';
        
        data.plans.forEach(plan => {
            const planElement = document.createElement('div');
            planElement.className = `${category}-item`;
            planElement.id = `${category}-item-${plan.id}`;

            planElement.innerHTML = `
                <img src="/static/image/${category.toLowerCase()}.svg" alt="${category} icon" class="category-icon" 
                    onclick="viewDetail('${category}', '${plan.place.replace(/'/g, "\\'")}', 
                    '${plan.description.replace(/'/g, "\\'")}', 
                    '${plan.creator.replace(/'/g, "\\'")}', ${plan.id})">
                <div class="plan-item-content">
                    <div class="plan-details">
                        <p class="timetable-add">시간표에 추가 여부 o/x</p>
                        <p class="plan-category">${category.toUpperCase()}</p>
                        <p class="plan-creator">${plan.creator}</p>
                        <p class="plan-place ellipsis-text">${plan.place}</p>
                        <p class="plan-description">${plan.description}</p>
                        <button class="post__like" onclick="event.stopPropagation(); onClickLike(${plan.id})" >
                            <i class="bi bi-heart" id="heart-icon-${plan.id}"></i>
                            <span class="like-count" id="like-count-${plan.id}">0명</span>
                        </button>
                    </div>
                </div>
            `;

            contentContainer.appendChild(planElement);
            updateLikeStatus(plan.id);
        });
    })
    .catch(error => {
        console.error('Error:', error);
        alert(`계획 불러오기 실패: ${error.message}`);
    });
}

function loadComments(itemId) {
    fetch(`/plans/${itemId}/comments/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                let commentsHtml = '';
                data.comments.forEach(comment => {
                    commentsHtml += `
                        <div class="comment-item" id="comment-${comment.id}">
                            <p class="comment-user">${comment.user}</p>
                            <p class="comment-text">${comment.content}</p>
                            <button onclick="delete_comment(${comment.id})" class="comment-delete-btn">삭제</button>
                        </div>
                    `;
                });
                document.getElementById(`comment_list_${itemId}`).innerHTML = commentsHtml;
                document.getElementById(`comment_count_${itemId}`).textContent = data.comments.length;
            } else {
                document.getElementById(`comment_list_${itemId}`).innerHTML = '<p>댓글을 불러오는 데 실패했습니다.</p>';
            }
        })
        .catch(error => {
            console.error('Error fetching comments:', error);
            document.getElementById(`comment_list_${itemId}`).innerHTML = '<p>댓글을 불러오는 데 실패했습니다.</p>';
        });
}

    // 여행 계획 삭제
    function deleteTravelPlan() {
        if (currentItemId !== null) {
            fetch(`/plans/plan/${currentItemId}/delete/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    const element = document.getElementById(`${currentType}-item-${currentItemId}`);
                    if (element) {
                        element.remove();
                    }
                    currentItemId = null;
                    showPage('viewSchedulePage');
                } else {
                    alert('계획 삭제 실패: ' + data.message);
                }
            });
        } else {
            alert('삭제할 여행 계획이 없습니다.');
        }
    }

    // id="viewSchedulePage"에 특정 콘텐츠만 표시하고 다른 영역은 안 보이게
    function showContent(contentId) {
        document.querySelectorAll('.create_travel-all-content').forEach(content => {
            content.style.display = 'none';
        });
        document.getElementById(contentId).style.display = 'block';
        let category = contentId.replace('Content', '');
        loadPlans(category);
    }

    // 여행 세부 정보 보기 함수
    function viewDetail(type, place, description, author, itemId) {
    currentItemId = itemId;
    currentType = type;
    
    // SVG 이미지 경로 설정
    const svgPath = `/static/image/${type.toLowerCase()}.svg`;
    
    let detailContent = `
        <div class="travel-detail">
            <img src="${svgPath}" alt="${type} icon" class="type-icon">
            <div class="detail-info">
                <p class="detail-type">${type.toUpperCase()}</p>
                <p class="detail-author">${author}</p>
                <p class="detail-place ellipsis-text">${place}</p>
                <p class="detail-description">${description}</p>
                <button class="post__like">
                    <i class="bi bi-heart bi-heart-btn2" id="heart-icon-detail-${itemId}"></i>
                    <span class="like-count-2" id="like-count-detail-${itemId}">0명</span>
                </button>
            </div>
        </div>
    `;

    document.getElementById('travelDetailContent').innerHTML = detailContent;
    document.getElementById('travelDetailComments').innerHTML = `
        <p class="comment-count">댓글 <span id="comment_count_${itemId}">0</span></p>
        <div id="comment_list_${itemId}" class = "comment_list_align">
        </div>
        <input type="text" class = "comment_input" id="comment_${itemId}" name="content" placeholder="이 여행지에 대한 댓글을 작성해보세요">
        <button onclick="make_comment(${itemId})" type="submit">
        <img src="/static/image/send.svg" alt="back-btn" width="24" height="24" class="send-btn"> 
        </button>
    `;
    
    document.getElementById(`comment_${itemId}`).addEventListener('keypress', function(e) {
        if (e.key === 'Enter') {
            e.preventDefault();
            make_comment(itemId);
        }
    });
    showPage('travelDetail');
    updateCommentCount(itemId);
    updateLikeStatus(itemId);
    updateDetailLikeStatus(itemId);

    // 댓글 로드
    loadComments(itemId);
    
}


    // 여행 계획 삭제 함수
    function deleteTravelPlan() {
        if (currentItemId !== null) {
            fetch(`/plans/plan/${currentItemId}/delete/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    const element = document.getElementById(`${currentType}-item-${currentItemId}`);
                    if (element) {
                        element.remove();
                    }
                    currentItemId = null;
                    showPage('viewSchedulePage');
                } else {
                    alert('계획 삭제 실패: ' + data.message);
                }
            });
        } else {
            alert('삭제할 여행 계획이 없습니다.');
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        loadPlans('play');
        loadPlans('eat');
        loadPlans('stay');
        loadPlans('others');
        initializeLikeStatuses();
    });
    // 입력 필드 초기화 함수
    function clearForm(type) {
        const placeField = document.getElementById(`${type}-place`);
        const descriptionField = document.getElementById(`${type}-description`);

        if (placeField) placeField.value = '';
        if (descriptionField) descriptionField.value = '';

        const submitButton = document.querySelector(`#${type}Page .btn-submit`);
        if (submitButton) {
            submitButton.classList.remove('active');
        }
    }

    // 좋아요(하트) 누르면 숫자 1개 올라가고 다시 누르면 1개 줄어드는 함수
function onClickLike(id) {
    fetch(`/like/${id}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken,
            'Content-Type': 'application/json'
        },
    })
    .then(response => response.json())
    .then(data => {
        updateLikeStatus(id);
    })
    .catch(error => console.error('Error:', error));
}

let make_comment = (id) => {
    let content = document.getElementById(`comment_${id}`).value;
    if (!content) {
        alert("댓글을 입력해주세요.");
        return;
    }

    fetch(`/comment/add/${id}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken,
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: new URLSearchParams({ 'content': content })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            let commentList = document.getElementById(`comment_list_${id}`);
            let newComment = document.createElement('div');
            newComment.classList.add('comment-item');
            newComment.id = `comment-${data.comment.id}`;
            newComment.innerHTML = `
                <p>${data.comment.user}</p>
                <p>${data.comment.content}</p>
                <button onclick="delete_comment(${data.comment.id})" class="comment-delete-btn">
                    <span>삭제<span>
                </button>
            `;
            commentList.appendChild(newComment);
            document.getElementById(`comment_${id}`).value = "";
            document.getElementById(`comment_count_${id}`).textContent = data.comment_count;
            
            // 스크롤을 최신 댓글로 이동
            commentList.scrollTop = commentList.scrollHeight;
        } else {
            alert(data.error);
        }
    })
    .catch(error => console.error('Error:', error));
};

// loadComments 함수 수정
function loadComments(itemId) {
    fetch(`/plans/${itemId}/comments/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                let commentsHtml = '';
                data.comments.forEach(comment => {
                    commentsHtml += `
                        <div class="comment-item" id="comment-${comment.id}">
                            <p class="comment-user">${comment.user}</p>
                            <p class="comment-text">${comment.content}</p>
                            <button onclick="delete_comment(${comment.id})" class="comment-delete-btn">삭제</button>
                        </div>
                    `;
                });
                let commentList = document.getElementById(`comment_list_${itemId}`);
                commentList.innerHTML = commentsHtml;
                document.getElementById(`comment_count_${itemId}`).textContent = data.comments.length;
                
                // 스크롤을 최신 댓글로 이동
                commentList.scrollTop = commentList.scrollHeight;
            } else {
                document.getElementById(`comment_list_${itemId}`).innerHTML = '<p>댓글을 불러오는 데 실패했습니다.</p>';
            }
        })
        .catch(error => {
            console.error('Error fetching comments:', error);
            document.getElementById(`comment_list_${itemId}`).innerHTML = '<p>댓글을 불러오는 데 실패했습니다.</p>';
        });
}

// 댓글 삭제 함수
let delete_comment = (comment_id) => {
    console.log("Attempting to delete comment with ID:", comment_id);

    fetch(`/comment/delete/${comment_id}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Server responded with an error');
        }
        return response.json();
    })
    .then(data => {
        if (data.success) {
            console.log(`Comment with ID ${comment_id} successfully deleted from the server`);
            const commentElement = document.getElementById(`comment-${comment_id}`);
            if (commentElement) {
                commentElement.remove();  // 댓글 요소를 화면에서 제거
                console.log(`Comment element with ID ${comment_id} removed from DOM`);
                updateCommentCount(currentItemId); // 댓글 수를 업데이트
            } else {
                console.error(`Comment element not found for ID: ${comment_id}`);
            }
        } else {
            console.error('Failed to delete comment:', data.error);
            alert(data.error || '댓글 삭제에 실패했습니다.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('친구의 댓글을 삭제할 수 없습니다!');
    });
}

// 댓글 수를 업데이트하는 함수
function updateCommentCount(itemId) {
    // 현재 댓글 목록에서 댓글 수를 계산
    const commentList = document.getElementById(`comment_list_${itemId}`);
    if (commentList) {
        const commentCount = commentList.children.length;
        document.getElementById(`comment_count_${itemId}`).textContent = commentCount;
        console.log(`Comment count updated to ${commentCount}`);
        
    }
}

function updateDetailLikeStatus(itemId) {
    fetch(`/like/status/${itemId}/`)
    .then(response => response.json())
    .then(data => {
        const likeCount = document.getElementById(`like-count-detail-${itemId}`);
        const heartIcon = document.getElementById(`heart-icon-detail-${itemId}`);
        
        likeCount.textContent = `${data.like_count}명`;
        if (data.liked) {
            heartIcon.classList.remove("bi-heart");
            heartIcon.classList.add("bi-heart-fill");
        } else {
            heartIcon.classList.remove("bi-heart-fill");
            heartIcon.classList.add("bi-heart");
        }
    })
    .catch(error => console.error('Error updating detail like status:', error));
}

function initializeLikeStatuses() {
    document.querySelectorAll('[id^="heart-icon-"]').forEach(element => {
        const itemId = element.id.split('-')[2];
        updateLikeStatus(itemId);
    });
}

function updateLikeStatus(planId) {
    fetch(`/like/status/${planId}/`)
    .then(response => response.json())
    .then(data => {
        const likeCount = document.getElementById(`like-count-${planId}`);
        const heartIcon = document.getElementById(`heart-icon-${planId}`);
        
        likeCount.textContent = `${data.like_count}명`;
        if (data.liked) {
            heartIcon.classList.remove("bi-heart");
            heartIcon.classList.add("bi-heart-fill");
        } else {
            heartIcon.classList.remove("bi-heart-fill");
            heartIcon.classList.add("bi-heart");
        }
    })
    .catch(error => console.error('Error updating like status:', error));
}

    //버튼 활성화/비활성화
function enableSubmitButton(page) {
    const placeInput = document.getElementById(`${page}-place`);
    const descriptionInput = document.getElementById(`${page}-description`);
    const submitButton = document.querySelector(`#${page}Page .btn-submit`);

    if (placeInput.value.trim() !== '' && descriptionInput.value.trim() !== '') {
        submitButton.classList.add('active');
    } else {
        submitButton.classList.remove('active');
    }
}

// 장소 검색 페이지에 이벤트 리스너 추가
function enableSearchButton() {
    const searchInput = document.getElementById('search-place');
    const searchButton = document.querySelector('#placeSearchPage .btn-submit');

    if (searchInput.value.trim() !== '') {
        searchButton.classList.add('active');
    } else {
        searchButton.classList.remove('active');
    }
}

//버튼 활성화 이벤트 리스너 
function addInputListeners(page) {
    const placeInput = document.getElementById(`${page}-place`);
    const descriptionInput = document.getElementById(`${page}-description`);

    placeInput.addEventListener('input', () => enableSubmitButton(page));
    descriptionInput.addEventListener('input', () => enableSubmitButton(page));
}

// 페이지 로드 시 각 입력 필드에 이벤트 리스너를 추가
document.addEventListener('DOMContentLoaded', function() {

    addInputListeners('play');
    addInputListeners('eat');
    addInputListeners('stay');
    addInputListeners('others');

    const searchInput = document.getElementById('search-place');
    searchInput.addEventListener('input', enableSearchButton);
});
</script>

<style>
    .create_travel-addPlans-container div,
    .create_travel-main-addPlans,
    .create_travel-main-card,
    .create_travel-main-button,
    .create_travel-all-menu a,
    button {
        cursor: pointer;
    }
    .create_travel-buttons .add-button,
    .create_travel-buttons .create_travel-main-button {
        margin-bottom: 10px;
        display: inline-block;
    }

    .btn-submit.active {
        background: var(--pink02);
    }
    .btn-submit.active span {
        color: var(--black);
    }
</style>

<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
    // Kakao SDK 초기화
    Kakao.init("b895408686485c31d9dc70ae8ca3fefc");

    let travelGroupId = {{ travel_group.id|default:"null" }};

    function sendLinkCustom() {
        if (!travelGroupId) {
            console.error('Travel group ID is not set');
            return;
        }
        
        fetch(`/get_kakao_share_data/${travelGroupId}/`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                Kakao.Link.sendCustom({
                    templateId: 111155,
                    templateArgs: {
                        'INVITE_CODE': data.INVITE_CODE,
                        'NICKNAME': data.NICKNAME,
                        'TRAVEL_NAME': data.TRAVEL_NAME
                    }
                });
            })
            .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}