{% extends 'base.html' %}
{% load static %}

{% block title %}Oddy-create_group{% endblock %}

{% block content %}
<div id="createGroupPage" class="create_group-page create_group-active">
    <div class="create_group-nickname-top">
        <p class="create_group-nickname-top-content">닉네임 입력</p>
        <p class="create_group-nickname-top-out"><a href="{% url 'plans:main' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7727 1.85225C12.9924 2.07192 12.9924 2.42808 12.7727 2.64775L6.4205 9L12.7727 15.3523C12.9924 15.5719 12.9924 15.9281 12.7727 16.1477C12.5531 16.3674 12.1969 16.3674 11.9773 16.1477L5.22725 9.39775C5.00758 9.17808 5.00758 8.82192 5.22725 8.60225L11.9773 1.85225C12.1969 1.63258 12.5531 1.63258 12.7727 1.85225Z" fill="black"/>
            </svg></a>
        </p>
    </div>
    <div class="create_group-nickname-bottom"></div>
    <p class="create_group-nickname-comment">오디에서 사용할 닉네임을 알려주세요!</p><br>
    <input class="create_group-nickname-input" type="text" id="nickname" placeholder="  닉네임을 입력하세요">
    <p id="nicknameError" class="create_group-error">닉네임은 5글자 이내로 작성해주세요.</p><br>
    <p id="nicknameLength" class="create_group-nickname-length">0/5</p>
    <button onclick="nextStep('nickname', 'entryPage')" class="create_group-nickname-button" id="submitButton">
        <span>다음</span>
    </button>
</div>

<div id="optionsPage" class="create_group-page">
    <p>설레는 여행 계획하기, 오디와 함께해요!</p>
    <img src="{% static 'image/Group 615.png' %}" alt="white cloud" width="178.37" height="175" class="create_group-white_cloud"> 
    <img src="{% static 'image/Group 616.png' %}" alt="pink cloud" width="159" height="156" class="create_group-pink_cloud">    
    <button class="create-travelgroup" onclick="showPage('travelNamePage')">
        <span>여행 모임 만들기</span></button>
    <button class="enter-invitedgroup" onclick="joinGroup()">
        <span>초대받은 여행 모임 입장하기</span></button>
</div>

<div id="travelNamePage" class="create_group-page">
    <div class="create_group-travelName-top">
        <p class="create_group-travelName-top-content">여행 정보 입력</p>
        <p class="create_group-travelName-top-out"><a href="{% url 'plans:main' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7727 1.85225C12.9924 2.07192 12.9924 2.42808 12.7727 2.64775L6.4205 9L12.7727 15.3523C12.9924 15.5719 12.9924 15.9281 12.7727 16.1477C12.5531 16.3674 12.1969 16.3674 11.9773 16.1477L5.22725 9.39775C5.00758 9.17808 5.00758 8.82192 5.22725 8.60225L11.9773 1.85225C12.1969 1.63258 12.5531 1.63258 12.7727 1.85225Z" fill="black"/>
            </svg></a>
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none" class="create_group-travelName-top-circle1">
            <circle cx="3" cy="3" r="2.5" stroke="#F29EC2"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none" class="create_group-travelName-top-circle2">
            <circle cx="3" cy="3" r="3" fill="#CECECE"/>
        </svg>
    </div>
    <div class="create_group-travelName-bottom">
        <p class="create_group-travelName-comment">여행 이름을 알려주세요!</p><br>
        <input class="create_group-travelName-input" type="text" id="travelName" placeholder="  여행 이름을 입력하세요 0/15">
        <p id="travelNameError" class="create_group-error">여행 이름은 15글자 이내로 작성해주세요.</p><br>
        <button onclick="nextStep('travelName', 'travelDatePage')" class="create_group-travelName-button" id="travelNameButton">
            <span>다음</span></button>
    </div>
</div>

<div id="travelDatePage" class="create_group-page">
    <div class="create_group-travelDate-top">
        <p class="create_group-travelDate-top-content">여행 정보 입력</p>
        <p class="create_group-travelDate-top-out"><button onclick="showPage('travelNamePage')" class="create_group-travelDate-top-out-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7727 1.85225C12.9924 2.07192 12.9924 2.42808 12.7727 2.64775L6.4205 9L12.7727 15.3523C12.9924 15.5719 12.9924 15.9281 12.7727 16.1477C12.5531 16.3674 12.1969 16.3674 11.9773 16.1477L5.22725 9.39775C5.00758 9.17808 5.00758 8.82192 5.22725 8.60225L11.9773 1.85225C12.1969 1.63258 12.5531 1.63258 12.7727 1.85225Z" fill="black"/>
            </svg></button>
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none" class="create_group-travelDate-top-circle1">
            <circle cx="3" cy="3" r="3" fill="#CECECE"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none" class="create_group-travelDate-top-circle2">
            <circle cx="3" cy="3" r="2.5" stroke="#F29EC2"/>
        </svg>
    </div>
    <div class="create_group-travelDate-bottom">
        <p class="create_group-travelDate-comment">여행 일정을 알려주세요!</p><br>
        <input type="text" id="travelStartDate" placeholder="  시작일" class="create_group-travelDate-input-start"><p class="create_group-travelDate-input-center"></p><input type="text" id="travelEndDate" placeholder="  종료일" class="create_group-travelDate-input-end"><br>
        <p id="travelDateError" class="create_group-error">여행 이름은 15글자 이내로 작성해주세요.</p><br>
        <button onclick="nextStepDates('travelStartDate', 'travelEndDate')" class="create_group-travelDate-button" id="travelDateButton">
        <span>완료</span></button>
    </div>
</div>

<div id="completePage" class="create_group-page">
    <img src="{% static 'image/Group 8.png' %}" alt="check icon" width="57" height="57" class="complete_page-check_icon"> 
    <p class="complete_create_group">여행 모임 생성 완료</p>
    <p class="together_trip">설레는 여행을 함께 준비해봐요!</p>
    <img src="{% static 'image/Group 618.png' %}" alt="pink cloud" width="224" height="219.77" class="complete_page-pink_cloud"> 
    <button class="share-link">
    <span>초대 링크 공유하기</span></button>
    <b class="enter-group">
        <span onclick="startTravel()">여행 모임 입장하기</span></b
        utton>
</div>

<div id="entryPage" class="create_group-page">
    <img src="{% static 'image/Group 687.png' %}" alt="cloud icon" width="192.46" height="112.36"> 
    <p class="question">당신의 여행 유형이 궁금하지 않으신가요?</p>
    <p class="findyourstyle">5개의 질문으로<br>나만의 여행 스타일을 발견해보세요!</p>
    <a href="javascript:void(0)" onclick="showPage('optionsPage')" class="skip-test">
        <span>테스트 건너뛰기</span></a>
    <a href="{% url 'plans:test' %}" class="test-start-btn">
        <span>여행 유형 테스트 시작하기</span></a>
</div>

<div id="joinGroupPage" class="create_group-page">
    <div class="create_group-joinCode">
        <div class="create_group-joinCode-container">
        <svg class="create_group-joinCode-char" xmlns="http://www.w3.org/2000/svg" width="47" height="46" viewBox="0 0 47 46" fill="none">
            <ellipse cx="21.2049" cy="10.3078" rx="10.6023" ry="10.3078" fill="white"/>
            <circle cx="10.6023" cy="20.9101" r="10.6023" fill="white"/>
            <circle cx="36.2246" cy="17.0816" r="10.6023" fill="white"/>
            <circle cx="32.3958" cy="33.2796" r="10.6023" fill="white"/>
            <circle cx="17.6704" cy="35.341" r="10.6023" fill="white"/>
            <circle cx="21.7937" cy="22.6773" r="10.6023" fill="white"/>
            <path d="M15.3145 18.5541C19.255 24.7537 25.9007 21.4243 27.0948 18.5541" stroke="#ADCAEA" stroke-width="1.4979"/>
            <path d="M24.9595 14.4309C24.9595 14.8995 24.8164 15.3039 24.6097 15.5795C24.4032 15.8549 24.1571 15.9771 23.9287 15.9771C23.7004 15.9771 23.4543 15.8549 23.2477 15.5795C23.041 15.3039 22.898 14.8995 22.898 14.4309C22.898 13.9624 23.041 13.558 23.2477 13.2824C23.4543 13.007 23.7004 12.8848 23.9287 12.8848C24.1571 12.8848 24.4032 13.007 24.6097 13.2824C24.8164 13.558 24.9595 13.9624 24.9595 14.4309Z" fill="#ADCAEA" stroke="#ADCAEA" stroke-width="1.03078"/>
            <path d="M20.2476 14.4309C20.2476 14.8995 20.1045 15.3039 19.8978 15.5795C19.6912 15.8549 19.4452 15.9771 19.2168 15.9771C18.9885 15.9771 18.7424 15.8549 18.5358 15.5795C18.3291 15.3039 18.186 14.8995 18.186 14.4309C18.186 13.9624 18.3291 13.558 18.5358 13.2824C18.7424 13.007 18.9885 12.8848 19.2168 12.8848C19.4452 12.8848 19.6912 13.007 19.8978 13.2824C20.1045 13.558 20.2476 13.9624 20.2476 14.4309Z" fill="#ADCAEA" stroke="#ADCAEA" stroke-width="1.03078"/>
        </svg>
        <h2 class="create_group-joinCode-h2">초대 코드 입력하기</h2><br>
        <input class="create_group-joinCode-input" type="text" id="inviteCode" placeholder="초대 코드 6자리를 입력해주세요"><br>
        <p id="inviteCodeError" class="create_group-error">초대 코드는 6자리 숫자로 입력해주세요.</p><br>
        <button class="create_group-joinCode-button">
            <span>완료</span></button><br>
    </div>
    </div>
</div>

<div id="joinCompletePage" class="create_group-page">
    <button onclick="showPage('entryPage')">여행 모임 입장하기</button>
</div>

<script>
let formData = {};

document.getElementById('nickname').addEventListener('input', function() {
    let input = this.value;
    let length = input.length;
    document.getElementById('nicknameLength').textContent = `${length}/5`;
    
    let button = document.getElementById('submitButton');
    if (this.value.trim() !== "") {
        button.classList.add('active');
    } else {
        button.classList.remove('active');
    }
});

document.getElementById('travelName').addEventListener('input', function() {
    let button = document.getElementById('travelNameButton');
    if (this.value.trim() !== "") {
        button.classList.add('active');
    } else {
        button.classList.remove('active');
    }
});

document.getElementById('travelStartDate').addEventListener('input', function() {
    let button = document.getElementById('travelDateButton');
    if (this.value.trim() !== "") {
        button.classList.add('active');
    } else {
        button.classList.remove('active');
    }
});

function joinGroup() {
    window.location.href = "{% url 'plans:join_group_page' %}";
}

function startTravel() {
    window.location.href = "{% url 'plans:create_travel' %}";
}

function showPage(pageId) {
    document.querySelectorAll('.create_group-page').forEach(page => page.classList.remove('create_group-active'));
    document.getElementById(pageId).classList.add('create_group-active');
    document.querySelectorAll('.create_group-error').forEach(error => error.style.display = 'none'); // 페이지 전환 시 에러 메시지 숨기기
}

function nextStep(inputId, nextPageId) {
    let value = document.getElementById(inputId).value;
    if (value.trim() === "") {
        return;
    }
    if (inputId === 'nickname' && value.length > 5) {
        document.getElementById('nicknameError').style.display = 'block'; 
        return;
    }
    if (inputId === 'travelName' && value.length > 15) {
        document.getElementById('travelNameError').style.display = 'block'; 
        return;
    }
    formData[inputId] = value;

    if (inputId === 'nickname') {
        submitNickname();
    } else {
        showPage(nextPageId);
    }
}

function nextStepDates(startInputId, endInputId) {
    let startValue = document.getElementById(startInputId).value;
    let endValue = document.getElementById(endInputId).value;
    if (startValue.trim() === "" || endValue.trim() === "") {
        document.getElementById('travelDateError').style.display = 'block'; 
        return;  
    }
    formData[startInputId] = startValue;
    formData[endInputId] = endValue;

    showPage('completePage');

    // 여행 정보 저장
    submitTravelInfo();
}

window.addEventListener('load', function() {
    if (window.location.hash) {
        showPage(window.location.hash.substring(1));
    }
});

// CSRF 토큰을 가져오는 함수
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

// 폼 데이터를 서버로 전송하는 함수
function submitNickname() {
    fetch('/create_group/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({nickname: formData.nickname})
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            showPage('entryPage');
        } else {
            alert(data.error);
        }
    });
}

function submitTravelInfo() {
    fetch('/travel_name_page/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({
            travelName: formData.travelName,
            travelStartDate: formData.travelStartDate,
            travelEndDate: formData.travelEndDate
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            showPage('completePage');
        } else {
            alert(data.error);
        }
    });
}

// function submitTravelInfo() {
//     const startDate = new Date(formData.travelStartDate);
//     const endDate = new Date(formData.travelEndDate);

//     fetch('/travel_name_page/', {
//         method: 'POST',
//         headers: {
//             'Content-Type': 'application/json',
//             'X-CSRFToken': getCookie('csrftoken')
//         },
//         body: JSON.stringify({
//             travelName: formData.travelName,
//             travelStartDate: startDate.toISOString().split('T')[0],
//             travelEndDate: endDate.toISOString().split('T')[0]
//         })
//     })
//     .then(response => response.json())
//     .then(data => {
//         if (data.success) {
//             showPage('completePage');
//         } else {
//             alert(data.error);
//         }
//     });
// }
</script>
{% endblock %}