{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Oddy{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <a href="{% url 'plans:my_page' %}" class="main-mypage">
    <img src="{% static 'image/person.svg' %}" alt="Person Icon" width="20" height="20">
    </a>
    <a href="{% url 'plans:create_group' %}" class="enter-oddy">
        <span>오디 시작하기</span>
    </a>
{% else %}
        <h2 class="onboarding-logo">Oddy</h2>
        <h3 class="onboarding-text">설레는 여행 계획하기, 오디와 함께해요!</h3>
    <img src="{% static 'image/onboarding.svg' %}" alt="Splash Design" width="404" height="351" class="main-splash_desgin">
    <a href="{% provider_login_url 'kakao' %}" class="main-kakao">
        <img src="{% static 'image/kakao_talk.svg' %}" alt="kakao Icon" width="20" height="18.57">
        <span>카카오 로그인</span>
    </a>
{% endif %}
{% endblock %}