{% extends 'base.html' %}
{% block content %}
<h2 class="timetable-top">{{ travel_group.travel_name }} 시간표 보기</h2>

<div class="timetable-container">
    <table class="timetable">
        <thead>
            <tr>
                <th class="timebale-blank"></th>
                {% for date in date_range %}
                <th class="timetable-date">
                    {{ date|date:"m/d" }}<br>
                    {{ date|date:"(D)" }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for hour in hours %}
                <tr>
                    <th class="timetable-time">{{ hour }}:00</th>
                    {% for date in date_range %}
                        <td data-date="{{ date|date:'Y-m-d' }}" data-hour="{{ hour }}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="pagination">
    {% if has_previous and has_next %}
        <!-- 중간 페이지: 이전과 다음 버튼 모두 표시 -->
        <button style="left:170px" onclick="changePage('{{ previous_page_url }}')" class="timetable-return-btn">이전</button>
        <button style="left:217px" onclick="changePage('{{ next_page_url }}')" class="timetable-next-btn">다음</button>
    {% elif has_previous %}
        <!-- 마지막 페이지: 이전 버튼만 표시 -->
        <button onclick="changePage('{{ previous_page_url }}')" class="timetable-return-btn">이전</button>
    {% elif has_next %}
        <!-- 첫 페이지: 다음 버튼만 표시 -->
        <button onclick="changePage('{{ next_page_url }}')" class="timetable-next-btn">다음</button>
    {% endif %}
</div>


<div class="tt-plan-management">
    <div class="tt-category-buttons">
        <button class="tt-all-play" data-category="play" onclick="showPlans('play')">PLAY</button>
        <button class="tt-all-eat" data-category="eat" onclick="showPlans('eat')">EAT</button>
        <button class="tt-all-stay" data-category="stay" onclick="showPlans('stay')">STAY</button>
        <button class="tt-all-others" data-category="others" onclick="showPlans('others')">OTHERS</button>
</div>
    </div>
    <div id="plan-list"></div>
</div>

<div id="modify-or-delete-modal" class="modal">
    <div class="modal-content">     
        <img src="/static/image/white-small-cloud.svg" alt="white cloud" width="46.83" height="45.94" class="join_group-white_cloud">
        <h3>여행 계획 관리하기</h3>
        <button onclick="openDateTimeModal(currentPlanId)" class="modal-modify">계획 수정</button>
        <button onclick="confirmDeletePlan(currentPlanId)" class="modal-delete">삭제</button>
        <button onclick="closeModifyOrDeleteModal()">
            
<img src="/static/image/close-btn.svg" alt="close btn" width="31" height="31" class="close-btn">
        </button>
    </div>
</div>

<div id="date-modal" class="modal">
    <div class="modal-content">
        <img src="/static/image/white-small-cloud.svg" alt="white cloud" width="46.83" height="45.94" class="join_group-white_cloud">
        <h3>방문 날짜 선택</h3>
        <div class="date-picker-container">
        <select id="modal-date">
            {% for date in available_dates %}
                <option value="{{ date|date:'Y-m-d' }}">{{ date|date:"Y년 m월 d일" }}</option>
            {% endfor %}
        </select>
        </div>
        <button onclick="openTimeModal()" class="modal-next">다음</button>
        <button onclick="closeDateModal()">
            <img src="/static/image/close-btn.svg" alt="close btn" width="31" height="31" class="close-btn">
        </button>
    </div>
</div>

<div id="time-modal" class="modal">
    <div class="modal-content">
        <img src="/static/image/white-small-cloud.svg" alt="white cloud" width="46.83" height="45.94" class="join_group-white_cloud">
        <h3>방문 시간 선택</h3>
        <label for="modal-start-time"></label>
        <select id="modal-start-time">
            {% for hour in hours %}
                <option value="{{ hour|stringformat:'02d' }}:00">{{ hour }}:00</option>
            {% endfor %}
        </select><br>
        <p class="time-modal-center"></p>
        <label for="modal-end-time"></label>
        <select id="modal-end-time">
            {% for hour in hours %}
                <option value="{{ hour|stringformat:'02d' }}:00">{{ hour }}:00</option>
            {% endfor %}
            <option value="22:00">22:00</option>
        </select>
        <button onclick="saveDateTimeAndClose()" class="modal-complete">저장</button>
        <button onclick="closeTimeModal()">
        <img src="/static/image/close-btn.svg" alt="close btn" width="31" height="31" class="close-btn">
    </button>
    </div>
</div>

<div id="delete-modal" class="modal">
    <div class="modal-content">
        <img src="/static/image/white-small-cloud.svg" alt="white cloud" width="46.83" height="45.94" class="join_group-white_cloud">
        <h3>이 계획을 시간표에서<br>제거하시겠습니까?</h3>
        <button onclick="removePlanFromTimetable()" class="modal-remove">제거</button>
        <button onclick="closeDeleteModal()" class="modal-undo">취소</button>
    </div>
</div>

<script>
let currentPlanId = null;
let selectedDate = null;

document.addEventListener('DOMContentLoaded', function() {
    loadAllPlans();
});

function openModifyOrDeleteModal(planId) {
    currentPlanId = planId;
    document.getElementById('modify-or-delete-modal').style.display = 'block';
}

function closeModifyOrDeleteModal() {
    document.getElementById('modify-or-delete-modal').style.display = 'none';
}

function openDateTimeModal(planId) {
    currentPlanId = planId;
    document.getElementById('date-modal').style.display = 'block';
    closeModifyOrDeleteModal();
}

function closeDateModal() {
    document.getElementById('date-modal').style.display = 'none';
}

function openTimeModal() {
    selectedDate = document.getElementById('modal-date').value;
    document.getElementById('date-modal').style.display = 'none';
    document.getElementById('time-modal').style.display = 'block';
}

function closeTimeModal() {
    document.getElementById('time-modal').style.display = 'none';
}

function saveDateTimeAndClose() {
    const startTime = document.getElementById('modal-start-time').value;
    const endTime = document.getElementById('modal-end-time').value;
    
    if (!startTime || !endTime) {
        alert('시간을 입력해주세요.');
        return;
    }
    if (startTime >= endTime) {
        alert('시작 시간은 종료 시간보다 빨라야 합니다!');
        return;
    }

    fetch("{% url 'plans:update_plan_datetime' %}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({
            plan_id: currentPlanId,
            date: selectedDate,
            plan_start_time: startTime,
            plan_end_time: endTime
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            closeTimeModal();
            updatePlanInTimetable(data.old_plan, data.new_plan);
            showPlans(data.category);
        }
    });
}

function confirmDeletePlan(planId) {
    currentPlanId = planId;
    document.getElementById('delete-modal').style.display = 'block';
    closeModifyOrDeleteModal();
}

function closeDeleteModal() {
    document.getElementById('delete-modal').style.display = 'none';
}

function removePlanFromTimetable() {
    fetch("{% url 'plans:update_plan_datetime' %}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({
            plan_id: currentPlanId,
            date: null,
            plan_start_time: null,
            plan_end_time: null
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            closeDeleteModal();
            updatePlanInTimetable(data.old_plan, data.new_plan);
            showPlans(data.category);
        }
    });
}

function loadAllPlans() {
    fetch("{% url 'plans:get_all_plans' travel_group.id %}")
    .then(response => response.json())
    .then(plans => {
        clearTimetable();
        plans.forEach(addPlanToTimetable);
    });
}

function clearTimetable() {
    const cells = document.querySelectorAll('.timetable td');
    cells.forEach(cell => {
        cell.innerHTML = '';
        cell.style.display = '';
        cell.rowSpan = 1;
    });
}

function updatePlanInTimetable(oldPlan, newPlan) {
    if (oldPlan.date && oldPlan.plan_start_time && oldPlan.plan_end_time) {
        removePlanElementFromTimetable(oldPlan);
    }
    
    if (newPlan.date && newPlan.plan_start_time && newPlan.plan_end_time) {
        addPlanToTimetable(newPlan);
    }
}

function removePlanElementFromTimetable(plan) {
    const startHour = parseInt(plan.plan_start_time.split(':')[0]);
    const endHour = parseInt(plan.plan_end_time.split(':')[0]);

    for (let hour = startHour; hour <= endHour; hour++) {
        const cell = document.querySelector(`td[data-date="${plan.date}"][data-hour="${hour}"]`);
        if (cell) {
            const planElements = cell.querySelectorAll(`.plan`);
            planElements.forEach(element => {
                if (element.textContent.includes(plan.place)) {
                    element.remove();
                }
            });
            
            if (hour === startHour) {
                cell.rowSpan = 1;
            } else {
                cell.style.display = '';
            }
        }
    }
}

function addPlanToTimetable(plan) {
    if (plan.date && plan.plan_start_time && plan.plan_end_time) {
        const startHour = parseInt(plan.plan_start_time.split(':')[0]);
        const endHour = parseInt(plan.plan_end_time.split(':')[0]);

        const cell = document.querySelector(`td[data-date="${plan.date}"][data-hour="${startHour}"]`);
        if (cell) {
            const planElement = document.createElement('div');
            planElement.textContent = `${plan.place}`;
            planElement.className = `plan ${plan.category}`;
            planElement.onclick = function() { openModifyOrDeleteModal(plan.id); };

            const duration = endHour - startHour;

            // rowSpan을 정확하게 설정
            cell.rowSpan = duration > 0 ? duration : 1;
            cell.appendChild(planElement);

            // 추가적인 셀 숨기기
            for (let hour = startHour + 1; hour < startHour + duration; hour++) {
                const nextCell = document.querySelector(`td[data-date="${plan.date}"][data-hour="${hour}"]`);
                if (nextCell) {
                    nextCell.style.display = 'none';
                }
            }
        }
    }
}


function showPlans(category) {
    // 기존에 활성화된 버튼에서 active 클래스 제거
    const buttons = document.querySelectorAll('.tt-category-buttons button');
    buttons.forEach(button => button.classList.remove('active'));

    // 클릭된 버튼에 active 클래스 추가
    const activeButton = document.querySelector(`.tt-category-buttons button[data-category="${category}"]`);
    if (activeButton) {
        activeButton.classList.add('active');
    }

    fetch("{% url 'plans:get_plans' travel_group.id %}?category=" + category)
    .then(response => response.json())
    .then(plans => {
        console.log(plans);
        const planList = document.getElementById('plan-list');
        planList.innerHTML = '';  // 기존 내용을 비웁니다.

        plans.forEach(plan => {
            const showAirplaneText = plan.date && plan.plan_start_time && plan.plan_end_time;

            planList.innerHTML += `
                <img src="/static/image/${category.toLowerCase()}.svg" alt="${category} icon" class="tt-category-icon" onclick="openDateTimeModal(${plan.id})">
                <div class="tt-plan-item-content">
                    <div class="tt-plan-details">
                        <p class="tt-plan-category">${category.toUpperCase()}</p>
                        <p class="tt-plan-creator">${plan.creator || '알 수 없음'}</p>
                        <p class="tt-plan-place ellipsis-text">${plan.place || '장소 미정'}</p>
                        <p class="tt-plan-description">${plan.description || '설명 없음'}</p>
                        <button class="post__like">
                            <i class="bi ${plan.liked ? 'bi-heart-fill' : 'bi-heart'} tt-bi-heart" id="heart-icon-${plan.id}"></i>
                            <span class="tt-like-count" id="like-count-${plan.id}">${plan.like_count || 0}명</span>
                        </button>
                        ${showAirplaneText ? '<img src="/static/image/airplane.svg" alt="airplane icon" class="tt-airplane_icon">' : ''}
                    </div>
                </div>
            `;

            // 좋아요 상태를 업데이트
            updateLikeStatus(plan.id);  // 수정: 좋아요 상태 초기화
        });
    });
}

function updateLikeStatus(planId) {
    fetch(`/like/status/${planId}/`)
    .then(response => response.json())
    .then(data => {
        const likeCount = document.getElementById(`like-count-${planId}`);
        const heartIcon = document.getElementById(`heart-icon-${planId}`);
        
        likeCount.textContent = `${data.like_count}명`;
        if (data.liked) {
            heartIcon.classList.remove("bi-heart");
            heartIcon.classList.add("bi-heart-fill");
        } else {
            heartIcon.classList.remove("bi-heart-fill");
            heartIcon.classList.add("bi-heart");
        }
    })
    .catch(error => console.error('Error updating like status:', error));
}



function saveAirplaneTextToDB(planId) {
    fetch("{% url 'plans:save_airplane_text' %}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({
            plan_id: planId,
            airplane_text: '비행기'
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            console.log('Successfully saved airplane text for plan:', planId);
        } else {
            console.error('Failed to save airplane text:', data.message);
        }
    });
}


function changePage(url) {
    window.location.href = url;
}
</script>
<style>

#plan-list {
    max-height: 400px; 
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 15px; 
}

.tt-plan-management {
    margin-top: 650px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 5px;
}

.tt-category-buttons {
    position: absolute;
    top: 647px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}

.tt-category-buttons a {
    color: #616161; 
    text-decoration: none;
    position: relative;
}

.tt-all-play,
.tt-all-eat,
.tt-all-stay,
.tt-all-others {
    font: var(--text-style-pretendard-semibold-18);
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #616161; 
}

.tt-all-play::after,
.tt-all-eat::after,
.tt-all-stay::after,
.tt-all-others::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 100%; 
    height: 2.5px;
    z-index: 1;
}

.tt-category-buttons::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;  
    height: 1.5px;
    background-color: var(--gray01);
    z-index: 0;
}

.tt-play-title {color: var(--play);}
.tt-eat-title {color: var(--eat);}
.tt-stay-title {color: var(--stay);}
.tt-others-title {color: var(--others);}

.tt-all-menu a {
    color: #616161; 
    text-decoration: none;
    position: relative;
}

.tt-all-play.active::after { background-color: var(--play);}
.tt-all-eat.active::after { background-color: var(--eat);}
.tt-all-stay.active::after { background-color: var(--stay);}
.tt-all-others.active::after { background-color: var(--others);}

.tt-all-play.active {color: var(--play); }
.tt-all-eat.active { color: var(--eat); }
.tt-all-stay.active { color: var(--stay); }
.tt-all-others.active { color: var(--others); }

.tt-plan-item-content {
    position: relative;
}

.tt-category-icon {
    position: relative; /* relative로 변경하여 부모 요소 내에서만 이동 */
    top: 10px;
    transform: translateX(-50%);  
    left: 50%;  
    cursor: pointer;
}


.tt-plan-category {
    display: none;
}

.tt-plan-creator {
    position: absolute;
    left: 295px;
    top: -16px; /* icon과 상호작용하는 요소들 위치 수정(167px씩 빼기) */
    font: var(--text-style-pretendard-regular-12);
    color: var(--black);
}

.tt-plan-place {
    position: absolute;
    left: 63px;
    top: -74px;
    font: var(--text-style-pretendard-semibold-16);
    color: var(--black);
}

.tt-plan-description {
    position: absolute;
    left: 63px;
    top: -37px; /* icon과 상호작용하는 요소들 위치 수정 */
    font: var(--text-style-pretendard-regular-12);
    color: var(--black);
}
.tt-bi-heart{
    position: absolute;
    left: 44px;
    top: -15px /*167px 빼기*/
}
.tt-like-count{
    position: absolute;
    left: 64px;
    top: -19px
}
.tt-airplane_icon {
    position: absolute;
    top: -74px;
    left: 239px;
}
</style>
{% endblock %}